.modal.modal-old-style
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3 Retouren
    
  %table.table
    - @product_return.product_return_items.joins(:product).order("spina_shop_products.location").each do |item|
      %tr
        %td.nowrap= "#{item.returned_quantity}&times;".html_safe
        %td= item.product.full_name
        %td.nowrap= item.product.location
