- content_for :application do
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'

    %nav#secondary.tabs
      %ul
        %li{class: ("active" if action_name == "index")}
          = link_to spina.shop_admin_invoices_path do
            =t 'spina.shop.invoices.all'
        %li{class: ("active" if action_name == "unpaid")}
          = link_to spina.unpaid_shop_admin_invoices_path do
            =t 'spina.shop.invoices.unpaid'
        %li{class: ("active" if action_name == "credit")}
          = link_to spina.credit_shop_admin_invoices_path do
            =t 'spina.shop.invoices.credit'

  = yield

= render template: 'layouts/spina/admin/admin'