- content_for :application do
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'

      = yield(:header_actions) if content_for?(:header_actions)

    %nav#secondary.tabs
      %ul
        %li{class: ("active" if controller_name == "products" && action_name == "index")}
          = link_to spina.shop_admin_products_path do
            =t 'spina.shop.products.title'

        %li{class: ("active" if controller_name == "products" && action_name == "archived")}
          = link_to spina.archived_shop_admin_products_path do
            =t 'spina.shop.products.archived_title'

        %li{class: ('active' if controller_name == "product_bundles")}
          = link_to spina.shop_admin_product_bundles_path do
            = Spina::Shop::ProductBundle.model_name.human count: 2

  = yield

= render template: 'layouts/spina/admin/admin'
