- content_for :application do
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'

      = yield(:header_actions) if content_for?(:header_actions)

    %nav#secondary.tabs
      %ul
        %li{class: ("active" if controller_name == "analytics")}
          = link_to spina.shop_admin_analytics_path do
            =t 'spina.shop.analytics.title'

        / %li{class: ("active" if controller_name == "exports")}
        /   = link_to spina.shop_admin_exports_path do
        /     =t 'spina.shop.exports.title'

  = yield

= render template: 'layouts/spina/admin/admin'
