- content_for(:breadcrumb_action) do
  = link_to spina.new_shop_admin_supplier_path, class: 'button button-mini icon-only' do
    %i.icon.icon-plus{style: 'vertical-align: bottom'}

.table-container.infinite-table
  %table.table.table-clickable.products-table
    %thead
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :name
        %th= Spina::Shop::Supplier.human_attribute_name :stock_orders
        %th= Spina::Shop::Supplier.human_attribute_name :products

    %tbody
      = render partial: 'supplier', collection: @suppliers