%header#header
  #header_actions
    = link_to spina.edit_shop_admin_supplier_path(@supplier), class: 'button button-default' do
      = icon('pencil')
      =t 'spina.shop.suppliers.edit'

  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

.information-tables{style: "margin-top: 20px"}
  .information-table
    %table
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :name 
        %td= @supplier.name
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :lead_time
        %td
          =t "spina.shop.suppliers.lead_time_in_days", days: @supplier.lead_time
          .text-muted
            standaardafwijking:
            =t "spina.shop.suppliers.lead_time_in_days", days: @supplier.lead_time_standard_deviation
          
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :products
        %td= @supplier.products.active.count

  .information-table
    %table
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :contact_name
        %td= @supplier.contact_name
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :email
        %td= mail_to @supplier.email, @supplier.email
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :phone
        %td= @supplier.phone
      %tr
        %th= Spina::Shop::Supplier.human_attribute_name :note
        %td{style: "white-space: pre-wrap"}= @supplier.note

- if @supplier.stock_orders.active.any?
  %h3{style: 'margin-top: 60px'} Actieve leveringen

  .table-container.infinite-table
    %table.table
      %thead
        %tr
          %th= Spina::Shop::StockOrder.human_attribute_name :id
          %th= Spina::Shop::StockOrder.human_attribute_name :supplier
          %th= Spina::Shop::StockOrder.human_attribute_name :ordered_at
          %th= Spina::Shop::StockOrder.human_attribute_name :expected_delivery
          %th
          %th.text-right= Spina::Shop::StockOrder.human_attribute_name :received_value
          %th.text-right= Spina::Shop::StockOrder.human_attribute_name :order_value
          %th

      %tbody
        = render partial: "spina/shop/admin/stock/stock_orders/active_stock_order", collection: @supplier.stock_orders.active

- if @supplier.stock_orders.closed.any?
  %h3{style: "margin-top: 60px"} Gesloten leveringen
  .table-container.infinite-table
    %table.table
      %thead
        %tr
          %th= Spina::Shop::StockOrder.human_attribute_name :id
          %th= Spina::Shop::StockOrder.human_attribute_name :supplier
          %th= Spina::Shop::StockOrder.human_attribute_name :ordered_at
          %th= Spina::Shop::StockOrder.human_attribute_name :closed_at
          %th
          %th.text-right= Spina::Shop::StockOrder.human_attribute_name :received_value
          %th.text-right= Spina::Shop::StockOrder.human_attribute_name :order_value

      %tbody
        = render partial: "spina/shop/admin/stock/stock_orders/stock_order", collection: @supplier.stock_orders.closed.order(closed_at: :desc, created_at: :desc)