.modal.modal-old-style
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3 
      Hoeveel stuks?
      %br/
      %small= link_to t("spina.shop.stock.reset_stock"), spina.new_shop_admin_product_reset_stock_path(@product), data: {remote: true}

  = form_for @stock_level_adjustment, url: @stock_level_adjustment.new_record? ? spina.shop_admin_product_stock_level_adjustments_path(@product) : spina.shop_admin_product_stock_level_adjustment_path(@product, @stock_level_adjustement) do |f|

    %section
      .form-group
        = f.number_field :adjustment

        - if @product.in_stock_reminders.any?
          .form-checkbox{style: 'margin-top: 10px'}
            = check_box_tag :send_in_stock_reminders
            = label_tag :send_in_stock_reminders do
              = t('spina.shop.products.send_in_stock_reminders')
              %span.text-muted{style: "margin-left: 8px"}
                = icon('mail')
                = "#{@product.in_stock_reminders.count}"

      - if @product.can_expire?
        .form-group
          .form-title.text-muted Verloopdatum
          %br/

          .input-group
            .select-dropdown
              = f.select :expiration_month, options_for_select((1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B"), m]}), prompt: "Kies een maand"

            .select-dropdown
              = f.select :expiration_year, options_for_select(1.year.ago.year..8.years.from_now.year), prompt: "Kies een jaar"

      .form-group
        .form-title.text-muted= Spina::Shop::StockLevelAdjustment.human_attribute_name(:category)
        %br/

        .select-dropdown{style: "width: 100%"}= f.select :category, Spina::Shop.config.stock_level_adjustment_categories.map{|category| [t("spina.shop.stock_level_adjustments.categories.#{category}"), category]}, {include_blank: t("spina.shop.stock_level_adjustments.choose_category")}, {required: true}

      .form-group{style: "margin-bottom: 0"}
        .form-title.text-muted= Spina::Shop::StockLevelAdjustment.human_attribute_name(:description)
        %br/

        .input-group= f.text_field :description, placeholder: "Notitie"
        
    %footer
      = link_to 'Annuleren', '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary', data: {disable_with: "..."} do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        Voorraad bijwerken
