%tr{class: ('text-muted' if !product.active? || product.archived?), style: ("border-bottom: none" if defined?(no_border) && no_border)}
  %td{style: 'width: 70px'}
    .form-checkbox{style: 'width: 20px'}
      = check_box_tag 'product_ids[]', product.id
      %label
  %td.align-center{style: 'width: 30px'}
    = image_tag attachment_url(product.product_images.first, :file, :fit, 30, 30, fallback: ''), style: 'vertical-align: middle; margin: -10px 0'
  %td{style: ('text-indent: 20px' if defined?(variant) && variant)}
    = link_to (defined?(variant) && variant ? product.variant_name : product.name), spina.shop_admin_product_path(product), class: 'table-link'
    %small= product.product_collections.pluck(:name).join(", ").html_safe
  - if stores.any?
    %td{style: "padding: 6px 12px"}
      - stores.each do |store|
        .store-badge{class: ('inactive' unless store.in? product.stores), style: "background: #{store.color}"}= store.initials

  %td.align-right
    - if product.promotion?
      %small{style: 'text-decoration: line-through'}= number_to_currency product.base_price
    = number_to_currency product.price
  %td.align-right
    = product.location
  %td.align-right
    = product.stock_level if product.stock_enabled?
  - if Spina::Shop::Product.where(can_expire: true).any?
    %td.align-right
      =l product.expiration_date, format: '%B \'%y' if product.can_expire? && product.expiration_date.present?

  %td.align-right
    - if product.active?
      - if !product.archived?
        - if product.stock_enabled?
          - if product.in_stock?
            - if product.can_expire? && product.expiration_date.present? && product.expiration_date < 2.months.from_now
              - if product.expiration_date < Date.today
                .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.expired')}}
              - else
                .status-dot.status-dot-warning{data: {tooltip: t('spina.shop.products.almost_expired')}}
            - else
              .status-dot.status-dot-success
          - else
            .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.out_of_stock')}}
        - else
          .status-dot.status-dot-success
      - else
        .status-dot
    - else
      .status-dot
