- cache product do
  %tr{class: ('text-muted' if !product.active? || product.archived?)}
    %td{style: 'width: 70px'}
      .form-checkbox{style: 'width: 20px'}
        = check_box_tag 'product_ids[]', product.id
        %label
    %td.align-center{style: 'width: 30px'}
      = image_tag attachment_url(product.product_images.first, :file, :fit, 30, 30, fallback: ''), style: 'vertical-align: middle; margin: -10px 0'
    %td
      = link_to spina.shop_admin_product_path(product), class: 'table-link' do
        %span.product-name= product.name
        - if product.variant?
          %span.product-variant-name= product.variant_name || "–"
      %small= product.product_collections.pluck(:name).join(", ").html_safe

    - if stores.any?
      %td{style: "padding: 6px 12px; width: 120px"}
        - unless product.variant?
          - store_ids = product.store_ids
          - stores.each do |store|
            .store-badge{class: ('inactive' unless store.id.in? store_ids), style: "background: #{store.color}"}= store.initials

    %td.align-right{style: "width: 90px", class: ('text-muted' unless product.parent? || product.variant_override?(:pricing))}
      - if product.promotion?
        %small{style: 'text-decoration: line-through'}= number_to_currency product.base_price
      = number_to_currency product.price
    %td.align-right{style: "width: 90px"}
      - unless product.not_for_sale?
        = product.location
    %td.align-right{style: "width: 90px"}
      = product.stock_level if product.stock_enabled? && !product.not_for_sale?
    - if Spina::Shop::Product.where(can_expire: true).any?
      %td.align-right{style: "width: 120px"}
        - unless product.not_for_sale?
          =l product.expiration_date, format: '%B \'%y' if product.can_expire? && product.expiration_date.present?

    %td.align-right{style: "width: 90px"}
      - if product.active?
        - if !product.archived?
          - if product.stock_enabled?
            - if product.in_stock?
              - if product.can_expire? && product.expiration_date.present? && product.expiration_date < 2.months.from_now
                - if product.expiration_date < Date.today
                  .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.expired')}}
                - else
                  .status-dot.status-dot-warning{data: {tooltip: t('spina.shop.products.almost_expired')}}
              - else
                .status-dot.status-dot-success
            - else
              .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.out_of_stock')}}
          - else
            .status-dot.status-dot-success
        - else
          .status-dot
      - else
        .status-dot
