- if @q.sorts.none? && single_product.has_variants?
  %tr{style: "border: none"}
    %td{style: 'width: 70px'}
      .form-checkbox{style: 'width: 20px'}
        = check_box_tag 'product_ids[]', single_product.id
        %label
    %td.align-center{style: 'width: 54px'}
      - if single_product.product_images.any?
        = image_tag main_app.url_for(single_product.product_images.first.file.variant(resize: '60x60')), style: 'vertical-align: middle; margin: -10px 0; max-width: 30px; max-height: 30px'
    %td
      = link_to single_product.name, spina.shop_admin_product_path(single_product)
      - if !product.variant? && product.description.blank?
        .text-danger{style: "color: orange"} 
          ⚠️ 
          =t "spina.shop.products.missing_description"
      - if !single_product.variant?
        - if single_product.product_category.present? 
          %small= single_product.product_category.name
    - if stores.any?
      %td.nowrap{style: "padding: 6px 12px; width: 150px"}
        - store_ids = single_product.store_ids
        - stores.each do |store|
          .store-badge{class: ('inactive' unless store.id.in? store_ids), style: "background: #{store.color}"}= store.initials
    %td.text-right{style: "width: 90px"}
      - if single_product.promotion?
        %small{style: 'text-decoration: line-through'}= number_to_currency single_product.base_price
      = number_to_currency single_product.price
    %td{style: 'width: 90px'}
    %td{style: 'width: 90px'}
    - if Spina::Shop::Product.where(can_expire: true).any?
      %td{style: 'width: 120px'}
    %td.text-right{style: "width: 90px"}
      - if single_product.active?
        .status-dot.status-dot-success
      - else
        .status-dot
      
  %tr
    %td{colspan: Spina::Shop::Product.where(can_expire: true).any? ? 9 : 8, style: 'padding: 0'}
      %table{style: 'width: 100%'}
        %tbody= render partial: 'product', collection: single_product.variants
- else
  = render partial: 'product', object: single_product