.modal.modal-medium
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3=t 'spina.shop.products.translations'

  = form_with model: @product, url: spina.shop_admin_product_path(@product) do |f|
    %section{style: 'padding-top: 0'}

      - Spina.config.locales.each_with_index do |locale, index|
        %hr.divider{style: 'margin: 20px -20px'}/
        .horizontal-form
          .horizontal-form-group
            .horizontal-form-label{style: "width: 150px"}=t "languages.#{locale}"
            - if params[:field] == "name"
              .horizontal-form-content= f.text_field "name_#{locale}"
            - elsif params[:field] == "description"
              .horizontal-form-content
                %trix-toolbar.clearfix{ id: "product_description_#{locale}_toolbar", data: { trix_editor_id: "product_description_#{locale}_editor" }}
                  .button-groups
                    .button-group
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix_attribute: 'bold', trix_key: 'b' }}
                        .icon.icon-bold
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix_attribute: 'italic', trix_key: 'i' }}
                        .icon.icon-italic
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix_attribute: 'bullet' }}
                        .icon.icon-list-ul
                %trix-editor.text-input{input: "product_description_#{locale}", toolbar: "product_description_#{locale}_toolbar", id: "product_description_#{locale}_editor", placeholder: Spina::Shop::Product.human_attribute_name(:description)}
                = f.hidden_field "description_#{locale}", id: "product_description_#{locale}", value: f.object.send("description_#{locale}", fallback: false, default: nil)

    %footer
      = link_to t('spina.close'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.shop.products.save'