.modal.modal-medium
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3=t 'spina.shop.products.translations'

  = form_with model: @product, url: spina.shop_admin_product_path(@product) do |f|
    %section{style: 'padding-top: 0'}

      - Spina.config.locales.each_with_index do |locale, index|
        - locale = Mobility.normalize_locale(locale)
        %hr.divider{style: 'margin: 20px -20px'}/
        .horizontal-form
          .horizontal-form-group
            .horizontal-form-label{style: "width: 150px"}=t "languages.#{locale}"
            - if params[:field] == "name"
              .horizontal-form-content= f.text_field "name_#{locale}"
            - elsif params[:field].in? %w(seo_title seo_description)
              .horizontal-form-content= f.text_field "#{params[:field]}_#{locale}"
            - elsif params[:field].in? %w(description extended_description)
              .horizontal-form-content
                %trix-toolbar.clearfix.spina-trix-toolbar{ id: "product_description_#{locale}_toolbar", data: { trix_editor_id: "product_description_#{locale}_editor" }}
                  .button-groups
                    .button-group
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix_attribute: 'bold', trix_key: 'b' }}
                        .icon.icon-bold
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix_attribute: 'italic', trix_key: 'i' }}
                        .icon.icon-italic
                      %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix_attribute: 'bullet' }}
                        .icon.icon-list-ul
                      %button.button.button-small{type: "button", tabindex: -1, title: "Link", data: {trix_attribute: 'href', trix_key: 'k', trix_action: 'link'}}
                        .icon.icon-link

                  .trix-dialogs{data: {trix_dialogs: ""}}
                    .trix-dialog.trix-dialog--link{data: {trix_dialog: 'href', trix_dialog_attribute: 'href'}}
                      .trix-dialog__link-fields
                        %input.trix-input.trix-input--dialog{type: "text", name: "href", placeholder: "Enter a URL", required: true, data: {trix_input: ""}}
                        .trix-button-group
                          %button.button.button-primary.icon-only.button-small.trix-button.trix-button--dialog{type: 'button', data: {trix_method: "setAttribute"}}
                            %i.icon.icon-link
                          %button.button.button-default.icon-only.button-small.trix-button.trix-button--dialog{type: 'button', value: "Unlink", data: {trix_method: "removeAttribute"}}
                            %i.icon.icon-cross
                %trix-editor.text-input{input: "product_description_#{locale}", toolbar: "product_description_#{locale}_toolbar", id: "product_description_#{locale}_editor", placeholder: Spina::Shop::Product.human_attribute_name(:description)}
                = f.hidden_field "#{params[:field]}_#{locale}", id: "product_description_#{locale}", value: f.object.send("#{params[:field]}_#{locale}", fallback: false, default: nil)

    %footer
      = link_to t('spina.close'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.shop.products.save'