%header#header
  .breadcrumbs
    = render_breadcrumbs separator: '<div class="divider"></div>'

    = link_to spina.new_by_category_shop_admin_products_path, class: 'button button-mini icon-only', data: {remote: true} do
      %i.icon.icon-plus{style: 'vertical-align: bottom'}
  %nav#secondary
    %ul
      %li{class: ("active" if action_name == "index")}
        = link_to spina.shop_admin_products_path do
          =t 'spina.shop.products.title'

      %li{class: ("active" if action_name == "archived")}
        = link_to spina.archived_shop_admin_products_path do
          =t 'spina.shop.products.archived_title'

      %li
        = link_to spina.shop_admin_product_bundles_path do
          = Spina::Shop::ProductBundle.model_name.human count: 2

      %li
        = link_to spina.shop_admin_stock_forecast_path do
          Voorraad

= search_form_for @q, url: (action_name == "index" ? spina.shop_admin_products_path : spina.archived_shop_admin_products_path), html: {class: 'filter-form'} do |f|
  .filter-form-simple
    .filter-form-input
      = f.text_field :sku_or_location_or_translations_name_cont, style: 'box-sizing: border-box', placeholder: 'Zoek op naam, SKU of locatie'
      = link_to '#', class: 'filter-form-advanced-link' do
        = icon('filter')
        = "filteren #{@q.conditions.any? ? '(' + @q.conditions.count.to_s + ')' : ''}"

    = button_tag type: :submit, class: 'button button-primary icon-only' do
      = icon('search')

  .filter-form-advanced
    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::ProductCategory.model_name.human(count: 2)
      .filter-form-control
        - options = Spina::Shop::ProductCategory.pluck(:name, :id)
        = f.select :product_category_id_in, options, {}, class: 'select2', style: 'width: 100%', multiple: true

    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::ProductCollection.model_name.human(count: 2)
      .filter-form-control
        - options = Spina::Shop::ProductCollection.pluck(:name, :id)
        = f.select :product_collections_id_in, options, {}, class: 'select2', style: 'width: 100%', multiple: true

    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::Store.model_name.human(count: 2)
      .filter-form-control
        - options = Spina::Shop::Store.pluck(:name, :id)
        = f.select :stores_id_in, options, {}, class: 'select2', style: 'width: 100%', multiple: true

= form_with url: spina.edit_shop_admin_products_batch_path(q: params.permit(q: {})[:q]), method: :get do
  .pull-right{style: 'display: inline-block; position: fixed; top: 75px; right: 22px; z-index: 10', data: {dropdown: true}}
    = link_to '#', class: 'button button-link products-batch-action', style: 'text-transform: uppercase; font-size: 12px; font-weight: bold', data: {trigger: 'dropdown', target: '#actions'} do
      geselecteerde producten
      %span.selected
      %i.icon.icon-caret-down{style: 'margin-right: 0'}

    %ul#actions.align-right{style: 'width: 240px'}
      %li= button_tag "<span style='width: 14px; font-weight: 600; display: inline-block; text-align: center'>€</span> <strong>Prijs</strong> in batch aanpassen...".html_safe, type: :submit, name: 'modal', value: 'pricing'
      %li= button_tag "<span style='width: 14px; font-weight: 600; display: inline-block; text-align: center'>€</span> <strong>Kostprijs</strong> in batch aanpassen...".html_safe, type: :submit, name: 'modal', value: 'cost_price'
      %li.divider
      %li= button_tag "<i class='icon icon-shop'></i> Toevoegen aan <strong>collecties...</strong>".html_safe, type: :submit, name: 'modal', value: 'product_collections'
      %li= button_tag "<i class='icon icon-shop'></i> Toevoegen aan <strong>winkels...</strong>".html_safe, type: :submit, name: 'modal', value: 'stores'
      %li.divider
      %li= button_tag "<i class='icon icon-refresh'></i> <strong>Beschikbaarheid</strong> instellen...".html_safe, type: :submit, name: 'modal', value: 'active'

  .table-container.infinite-table
    %table.table.table-clickable.products-table
      %thead
        %tr
          %th
            .form-checkbox{style: 'width: 20px'}
              = check_box_tag 'select_all', nil, false, data: {count: @q.result.count}
              %label
          %th
          %th= sort_link [:spina, @q], :translations_name, Spina::Shop::Product.human_attribute_name(:name), {}, class: 'table-sort'
          - if stores.any?
            %th= Spina::Shop::Store.model_name.human(count: 2)
          %th{style: 'text-align: right'}= sort_link [:spina, @q], :base_price, Spina::Shop::Product.human_attribute_name(:base_price), {}, class: 'table-sort'
          %th{style: 'text-align: right'}= sort_link [:spina, @q], :location, Spina::Shop::Product.human_attribute_name(:location), {}, class: 'table-sort'
          %th{style: 'text-align: right'}= sort_link [:spina, @q], :stock_level, ['stock_enabled desc', :stock_level], Spina::Shop::Product.human_attribute_name(:stock_level), {}, class: 'table-sort'
          - if Spina::Shop::Product.where(can_expire: true).any?
            %th.align-right= sort_link [:spina, @q], :expiration_date, Spina::Shop::Product.human_attribute_name(:expiration_date), {}, class: 'table-sort'
          %th

      %tbody{class: ('unfiltered-products-index' if @unfiltered)}
        = render partial: "single_product", collection: @products

    .pagination= link_to_next_page @products, 'Next'
