%tr
  %td.align-center{style: 'width: 20px'}
    .form-checkbox{style: 'width: 20px'}
      = check_box_tag 'product_ids[]', product.id
      %label
  %td
    = link_to product.full_name, spina.shop_admin_product_path(product)
  %td
    = product.supplier&.name
  %td.text-right
    = product.past_30_days
  %td.text-right
    = product.past_90_days
  %td.text-right
    - if product.stock_level < 4
      %span.text-danger= product.stock_level
    - else
      %span.text-success= product.stock_level
    %small{style: 'display: inline'} / #{product.optimal_stock}
    - if product.stock_orders.open.any?
      %span{data: {tooltip: product.stock_orders.open.pluck(:id).map{|id| "Leveringsorder ##{id}"}.join(', ')}}
        %i.icon.icon-document
  %td.text-right
    = product.coming_30_days
  %td.text-right
    - if product.stock_difference < 0
      %span.text-danger= product.stock_difference
    - elsif product.stock_difference == 0
      %span.text-success 0
    - else
      %span.text-success= "+#{product.stock_difference}"
  %td.text-right.text-muted
    = product.in_stock_reminders_count
    %i.icon.icon-mail{style: 'font-size: 11px'}
  %td.text-right
    %small= number_to_currency product.base_price
  %td.text-right
    %small= number_to_currency product.cost_price
  %td.text-right
    %small= number_to_currency product.stock_value
