%tr
  %td.align-center{style: 'width: 20px'}
    - if product.available_at_supplier?
      .form-checkbox{style: 'width: 20px'}
        = check_box_tag 'product_ids[]', product.id
        %label
  %td
    = link_to spina.shop_admin_product_path(product) do
      = product.full_name
    %small= product.supplier&.name
  %td= product.location
  %td{style: 'text-align: right'}= product.order_picking_30_days
  %td{style: 'text-align: right'}= product.order_picking_90_days
  %td{style: 'text-align: right'}= product.order_picking_365_days
  %td.text-center{style: 'text-align: center; min-width: 100px; width: 100px; position: relative'}
    %span{style: "font-size: 12px; font-weight: 500; color: #7070B3"}= product.past_30_days
    %div{style: "background: #F0F0F7; width: 160px; height: 10px; border-radius: 4px; position: absolute; left: 20px; margin-top: 5px"}
      %div{style: "background: #D6D6E9; width: #{BigDecimal(product.past_60_days) / product.past_90_days * 100}%; height: 100%; border-radius: 4px"}
        %div{style: "background: #7070B3; width: #{BigDecimal(product.past_30_days) / product.past_60_days * 100}%; height: 100%; border-radius: 4px"}
  %td.text-center{style: 'text-align: center; min-width: 100px; width: 100px'}
    %span{style: "font-size: 12px; font-weight: 500; color: #7070B3; opacity: .5"}= product.past_90_days
  %td.text-center{style: 'text-align: center; min-width: 100px; width: 100px'}
    %span{style: "font-size: 12px; font-weight: 500; color: #7070B3; opacity: .5"}
      = product.past_365_days
  %td.text-right
    - if product.stock_level < 4
      %span.text-danger= product.stock_level
    - else
      %span.text-success= product.stock_level
    - if product.available_at_supplier?
      %small{style: 'display: inline'} / #{product.optimal_stock}
    - else
      %small{style: 'display: inline'} / #{t("spina.shop.stock.discontinued")}

    - if product.stock_orders.open.any?
      %span{data: {tooltip: product.stock_orders.open.pluck(:id).map{|id| "Leveringsorder ##{id}"}.join(', ')}}
        %i.icon.icon-document
  
  %td.text-right
    = product.safety_stock
    %span.text-muted{style: "display: block; font-size: 12px"} 99.98%

  %td.text-right
    %span{class: ("text-danger" if product.reorder_point > product.stock_level)}
      = product.reorder_point
        
  %td.text-right
    - if product.stock_difference < 0
      %span.text-danger= product.stock_difference
    - elsif product.stock_difference == 0
      %span.text-success 0
    - else
      %span.text-success= "+#{product.stock_difference}"
  %td.text-right= product.lead_time.round
  %td.text-right.nowrap
    - if product.recount_created_at.present?
      %span{style: "font-size: 13px"}
        =l product.recount_created_at, format: "%d-%m-%y"
      %span{style: "display: block; font-size: 12px", class: ('text-danger' unless product.recount_difference.in? -10..10)}
        - if product.recount_difference > 0
          = "+#{product.recount_difference}"
        - else
          = product.recount_difference
  %td.text-right.text-muted
    = product.in_stock_reminders_count
    %i.icon.icon-mail{style: 'font-size: 11px'}
  %td.text-right
    %small= number_to_currency product.base_price
  %td.text-right
    %small= number_to_currency product.cost_price
  %td.text-right
    %small= number_to_currency product.stock_value
