%tr
  %td.align-center{style: 'width: 20px'}
    - if product.available_at_supplier?
      .form-checkbox{style: 'width: 20px'}
        = check_box_tag 'product_ids[]', product.id
        %label
  %td
    = link_to spina.shop_admin_product_path(product) do
      = product.full_name
    %small= product.supplier&.name
  %td= product.location
  - if false
    %td{style: 'text-align: right'}= product.order_picking_30_days
    - if false
      %td{style: 'text-align: right'}= product.order_picking_90_days
    %td{style: 'text-align: right'}= product.order_picking_365_days
  - if false
    %td.text-right
      = product.past_30_days
      - if false
        %div{style: "background: #F0F0F7; width: 160px; height: 10px; border-radius: 4px; position: absolute; left: 20px; margin-top: 5px"}
          %div{style: "background: #D6D6E9; width: #{BigDecimal(product.past_60_days) / product.past_90_days * 100}%; height: 100%; border-radius: 4px"}
            %div{style: "background: #7070B3; width: #{BigDecimal(product.past_30_days) / product.past_60_days * 100}%; height: 100%; border-radius: 4px"}
  - if false
    %td.text-center{style: 'text-align: center; min-width: 100px; width: 100px'}
      %span{style: "font-size: 12px; font-weight: 500; color: #7070B3; opacity: .5"}= product.past_90_days
    %td.text-center{style: 'text-align: center; min-width: 100px; width: 100px'}
      %span{style: "font-size: 12px; font-weight: 500; color: #7070B3; opacity: .5"}
        = product.past_365_days
  - if false
    %td.text-right= product.past_90_days
  - if false
    %td.text-right= product.past_365_days
  %td.text-right
    = link_to product.statistics_weekly_sales || "?", spina.shop_admin_product_sales_path(product), data: {remote: true}
  %td.text-right
    - text_color = case product.service_level
      - when 98
        - "#00B050"
      - when 96
        - "#92D050"
      - when 94
        - "orange"
      - when 92
        - "orange"
      - when 90
        - "#FF0000"
    %span{style: "color: #{text_color}"}= "#{product.service_level}%"
  %td
    - if product.available_at_supplier? && product.supplier.present?
      - max = product.max_stock
      - if max > 0
        - safe = ((product.safety_stock.to_i / BigDecimal(max)) * 100).round
        - point = ((product.reorder_point.to_i / BigDecimal(max)) * 100).round
        - current = ((product.stock_level / BigDecimal(max)) * 100).round
        - current = [current, 100].min
        
        %div{style: 'position: relative'}
          %div{style: 'display: flex; justify-content: space-between; width: 100%'}
            &nbsp;
            
          %div{style: "position: absolute; left: #{safe}%; top: 0px; transform: translateX(-100%)"}
            %span{style: "color: orange; font-weight: 500; font-size: 12px"}= product.safety_stock
              
          %div{style: "position: absolute; left: #{point}%; top: 0px"}
            %div{style: "font-size: 12px; color: #7070B3; font-weight: 500"}= product.reorder_point
          
          - if false
            %small{style: 'position: absolute; bottom: -20px; left: 0px'}
              Voorraad:
              = product.stock_level
            %small{style: 'position: absolute; bottom: -20px; right: 0px'}
              Max:
              = max
          
          %div{style: 'width: 250px; background: #F0F0F7; height: 10px; position: relative; overflow: hidden; border-radius: 10px'}              
            %div{style: "height: 100%; background: #7070B3; width: #{current}%"}
              
            // Safety
            %div{style: "height: 100%; width: #{safe}%; background: orange; position: absolute; top: 0px; left: 0px; #{product.stock_level < product.safety_stock ? 'opacity: .2' : ''}"}
            
            - if product.stock_level < product.safety_stock
              %div{style: "height: 100%; width: #{current}%; background: orange; position: absolute; top: 0px; left: 0px"}
            
            // Reorder point
            %div{style: "height: 100%; width: #{point}%; border-right: 2px solid white; position: absolute; left: 0px; top: 0px"} 
            
      = link_to 'berekening', spina.shop_admin_product_statistics_path(product), style: 'font-size: 12px; margin-top: 0; padding: 5px; margin-bottom: -10px; display: inline-block', data: {remote: true}
             
    - else
      %em.text-muted Uitlopend
      
  %td.text-right
    %span{class: ("text-danger" if product.available_at_supplier && product.supplier.present? && product.stock_level < product.reorder_point)}
      = product.stock_level
      %span.text-muted
        \/
        = product.max_stock
        
    - if product.stock_orders.open.any?
      %span{data: {tooltip: product.stock_orders.open.pluck(:id).map{|id| "Leveringsorder ##{id}"}.join(', ')}}
        %i.icon.icon-document
    
    - if false
      - if product.stock_level < 4
        %span.text-danger= product.stock_level
      - else
        %span.text-success= product.stock_level
      - if product.available_at_supplier?
        %small{style: 'display: inline'} / #{product.eoq}
      - else
        %small{style: 'display: inline'} / #{t("spina.shop.stock.discontinued")}
  
      - if product.stock_orders.open.any?
        %span{data: {tooltip: product.stock_orders.open.pluck(:id).map{|id| "Leveringsorder ##{id}"}.join(', ')}}
          %i.icon.icon-document
  %td.text-right
    - difference = product.stock_level.to_i - product.max_stock.to_i
    - if product.stock_level < product.safety_stock
      %span.text-danger= difference
    - elsif product.stock_level < product.reorder_point
      %span{style: "color: orange"}= difference
    - else
      %span= difference
  - if false
    %td.text-right
      - if product.stock_difference < 0
        %span.text-danger= product.stock_difference
      - elsif product.stock_difference == 0
        %span.text-success 0
      - else
        %span.text-success= "+#{product.stock_difference}"
      
    %td.text-right= product.lead_time.round
    %td.text-right.nowrap
      - if product.recount_created_at.present?
        %span{style: "font-size: 13px"}
          =l product.recount_created_at, format: "%d-%m-%y"
        %span{style: "display: block; font-size: 12px", class: ('text-danger' unless product.recount_difference.in? -10..10)}
          - if product.recount_difference > 0
            = "+#{product.recount_difference}"
          - else
            = product.recount_difference
  %td.text-right.text-muted
    = product.in_stock_reminders_count
    %i.icon.icon-mail{style: 'font-size: 11px'}
  %td.text-right
    %small= number_to_currency product.base_price
  %td.text-right
    %small= number_to_currency product.cost_price
  %td.text-right
    %small= number_to_currency product.stock_value
