= search_form_for @q, url: spina.shop_admin_stock_forecast_path, html: {class: 'filter-form'} do |f|
  .filter-form-simple
    .filter-form-input
      = f.text_field :sku_or_location_or_translations_name_or_translations_variant_name_cont, style: 'box-sizing: border-box', placeholder: 'Filter op naam of locatie'
      = link_to '#', class: "filter-form-advanced-link #{'filter-active' if @q.conditions.any?}" do
        = icon('filter')
        = "geavanceerd #{@q.conditions.any? ? '(' + @q.conditions.count.to_s + ')' : ''}"

    = button_tag type: :submit, class: 'button button-primary icon-only' do
      = icon('search')

  .filter-form-advanced
    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::ProductCategory.model_name.human(count: 2)
      .filter-form-control
        - options = Spina::Shop::ProductCategory.pluck(:name, :id)
        = f.select :product_category_id_in, options, {}, class: 'select2', style: 'width: 100%', multiple: true
    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::Product.human_attribute_name :location
      .filter-form-control
        = f.select :location_start_any, @locations, {}, class: 'select2', multiple: true, style: 'width: 100%'
    .filter-form-advanced-group
      .filter-form-label Hertelling vanaf
      .filter-form-control= f.text_field :recounts_created_at_gteq, class: "datepicker", value: (I18n.l(f.object.recounts_created_at_gteq, format: "%d-%m-%Y") if f.object.recounts_created_at_gteq.present?)
    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::Supplier.model_name.human(count: 2)
      .filter-form-control
        - suppliers = Spina::Shop::Supplier.all.map{|t| [t.name, t.id]}
        = f.select :supplier_id_in, suppliers, {}, class: 'select2', style: 'width: 100%', multiple: true

    .filter-form-advanced-group
      .filter-form-label= Spina::Shop::Product.human_attribute_name(:available_at_supplier)
      .filter-form-control
        = f.select :available_at_supplier_eq, [[t("spina.shop.stock.products_available_at_supplier"), true], [t("spina.shop.stock.discontinued_products"), false]], {include_blank: t("spina.shop.stock.all_products")}, class: 'select2', style: 'width: 100%'

- search_params = {q: {sku_or_location_or_translations_name_or_translations_variant_name_cont: params[:q].try(:[], :sku_or_location_or_translations_name_or_translations_variant_name_cont), supplier_id_in: params[:q].try(:[], :supplier_id_in), location_start: params[:q].try(:[], :location_start), product_category_id_in: params[:q].try(:[], :product_category_id_in), recounts_created_at_gteq: params[:q].try(:[], :recounts_created_at_gteq), available_at_supplier_eq: params[:q].try(:[], :available_at_supplier_eq)}}

- if params[:q].present?
  .text-right{style: "margin: 15px -4px 0 0"}
    = link_to spina.shop_admin_stock_forecast_path(search_params.merge(format: 'csv')), class: 'button button-primary' do
      Download resultaten als CSV (max: 5000)

= form_with url: spina.new_shop_admin_stock_order_products_path(q: params.permit(q: {})[:q]), method: :get, data: {controller: "batch-form"} do
  .pull-right{style: 'display: inline-block; position: fixed; top: 75px; right: 22px; z-index: 10', data: {dropdown: true}}
    = link_to '#', class: 'button button-link products-batch-action', style: 'text-transform: uppercase; font-size: 12px; font-weight: bold', data: {trigger: 'dropdown', target: '#actions'} do
      geselecteerde producten
      %span.selected
      %i.icon.icon-caret-down{style: 'margin-right: 0'}

    %ul#actions.align-right{style: 'width: 240px'}
      %li= button_tag "Toevoegen aan <strong>leveringsorder</strong>...".html_safe, type: :submit, data: {url: spina.new_shop_admin_stock_order_products_path(q: params.permit(q: {})[:q]), action: "batch-form#submit"}
      %li= button_tag "<strong>Labels</strong> genereren...".html_safe, type: :submit, data: {url: spina.new_shop_admin_product_labels_path, action: "batch-form#submit"}

  .table-container.infinite-table
    %table.table.table-clickable
      %thead
        %tr
          %th{style: 'width: 20px'}
          %th 
            Naam
            %small &nbsp;
          %th{style: 'text-align: center; white-space: nowrap; min-width: 60px'} 
            = link_to spina.shop_admin_stock_forecast_path({order: 'location', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Locatie
              %small &nbsp;
          %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
            = link_to spina.shop_admin_stock_forecast_path({order: 'order_picking_30_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Lopen
              %small 30 dagen
          - if false
            %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
              = link_to spina.shop_admin_stock_forecast_path({order: 'order_picking_90_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
                Lopen
                %small 90 dagen
          %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
            = link_to spina.shop_admin_stock_forecast_path({order: 'order_picking_365_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Lopen
              %small 365 dagen
          %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
            = link_to spina.shop_admin_stock_forecast_path({order: 'past_30_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Verkoop<br /><small>30 dagen</small>
          - if false
            %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
              = link_to spina.shop_admin_stock_forecast_path({order: 'past_90_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
                Verkoop<br /><small>90 dagen</small>
          %th{style: 'text-align: right; white-space: nowrap; min-width: 60px'} 
            = link_to spina.shop_admin_stock_forecast_path({order: 'past_365_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Verkoop<br /><small>365 dagen</small>
              
          %th{style: 'width: 250px'}
            Veiligheidsvoorraad / bestelpunt
            %br/
            %small &nbsp;
              
          %th.text-right{style: 'min-width: 100px; white-space: nowrap'}
            = link_to spina.shop_admin_stock_forecast_path({order: 'stock_level', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Voorraad
              %br/
              %small / max
              - if false
                <br/><small>nu / EOQ</small>
              
          - if false
            %th.text-right{style: 'min-width: 60px'}
              = link_to spina.shop_admin_stock_forecast_path({order: 'stock_difference', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
                Inkoop<br /><small>voorraadverschil</small>
            %th.text-right{style: "min-widh: 60px"}
              = link_to spina.shop_admin_stock_forecast_path({order: 'lead_time', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
                Doorlooptijd
                %br/
                %small in dagen
            %th.text-right{style: 'min-width: 60px'}
              = link_to spina.shop_admin_stock_forecast_path({order: 'recount_created_at', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
                Hertelling
                %br/
                %small verschil
          %th.text-right{style: 'min-width: 120px'}
            = link_to spina.shop_admin_stock_forecast_path({order: 'in_stock_reminders_count', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Herinneren<br /><small>nieuwe voorraad</small>
          %th.text-right.nowrap
            = link_to spina.shop_admin_stock_forecast_path({order: 'base_price', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Verkoopprijs<br /><small>per product</small>
          %th.text-right.nowrap
            = link_to spina.shop_admin_stock_forecast_path({order: 'cost_price', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Kostprijs<br /><small>per product</small>
          %th.text-right 
            = link_to spina.shop_admin_stock_forecast_path({order: 'stock_value', direction: params[:direction] == 'asc' ? 'desc' : 'asc'}.merge(search_params)) do
              Voorraad<br /><small>waarde</small>

      %tbody
        = render partial: "product", collection: @products

    .pagination= link_to_next_page @products, 'Next'
