%header#header
  .breadcrumbs
    .pull-right
      = link_to new_admin_discount_path, class: 'button button-mini icon-only' do
        %i.icon.icon-plus{style: 'vertical-align: bottom'}
    = render_breadcrumbs separator: '<div class="divider"></div>'

.table-container.infinite-table
  %table.table
    %thead
      %tr
        %th Code
        %th Korting
        %th.text-right Actief

    %tbody
      - @discounts.each do |discount|
        %tr
          %td= link_to discount.code, edit_admin_discount_path(discount)
          %td= discount.description
          %td.text-right= discount.starts_at