.container
  .pull-right
    - if @stock_order.delivery_tracking_url.present?
      = link_to @stock_order.delivery_tracking_url, target: :blank, class: 'button button-link' do
        🚚 Track & Trace

    = link_to spina.edit_shop_stock_management_stock_order_path(@stock_order), class: 'button button-link', style: "margin-left: 10px" do
      💬 Feedback

  = link_to "⇤ Leveringen", spina.shop_stock_management_stock_orders_path, class: 'button button-link', style: 'margin-bottom: 10px'

  .page-title
    %div
      %small Levering ##{@stock_order.id}
      = @stock_order.supplier.name

  - if @stock_order.note.present?
    %div{style: "white-space: pre; margin-bottom: 20px"}= @stock_order.note

  - if @stock_order.ordered_stock.unprocessed.size > 0
    .list-title Te verwerken
    .list
      = render partial: 'ordered_stock', collection: @stock_order.ordered_stock.unprocessed.sort_by{|o|o.product.full_name}
  - else
    = link_to spina.close_order_shop_stock_management_stock_order_path(@stock_order), class: 'button button-block button-primary', style: "margin-bottom: 20px", data: {method: :post, confirm: "Weet je het zeker? Na sluiten kun je niks meer wijzigen."} do
      🤙 Leveringsorder sluiten

  - if @stock_order.ordered_stock.processed.size > 0
    .list-title Verwerkt
    .list.list-muted
      = render partial: 'ordered_stock', collection: @stock_order.ordered_stock.processed.sort_by{|o|o.product.full_name}

  - if @stock_order.ordered_stock.unprocessed.size > 0
    = link_to spina.close_order_shop_stock_management_stock_order_path(@stock_order), class: 'button button-block', style: "margin-bottom: 20px", data: {method: :post, confirm: "Weet je het zeker? Nog niet alles is binnen. Na sluiten kun je niks meer wijzigen."} do
      🤙 Leveringsorder sluiten