%tr
  %td= link_to invoice.invoice_number, spina.shop_admin_invoice_path(invoice, format: :pdf), class:  'table-link'
  %td=l invoice.date, format: '%d-%m-%Y'
  %td
    = invoice.receiver
    - if invoice.order.present?
      %small
        = Spina::Shop::Order.model_name.human
        = link_to invoice.order.number, spina.shop_admin_order_path(invoice.order)
  %td.text-right= number_to_currency invoice.total
  %td.text-right
    - if invoice.exported?
      - invoice.export_data.each do |key, value|
        %strong= key
        %small.text-muted= value
  %td.text-right
    .status-dot{class: (invoice.order.paid? ? "status-dot-success" : "status-dot-warning"), data: {tooltip: invoice.order.paid? ? "Betaald" : "Openstaand"}}
