%header#header
  .breadcrumbs
    = render_breadcrumbs separator: '<div class="divider"></div>'

.table-container.infinite-table
  %table.table
    %thead
      %tr
        %th= Spina::Shop::Invoice.model_name.human
        %th= Spina::Shop::Invoice.human_attribute_name(:date)
        %th= Spina::Shop::Invoice.human_attribute_name(:customer)
        %th.text-right= Spina::Shop::Invoice.human_attribute_name(:total)
        %th{colspan: 2}

    %tbody
      - if @invoices.any?
        = render partial: 'invoice', collection: @invoices
      - else
        %tr
          %td{colspan: 5}
            %em.text-center.text-muted{style: 'display: block'}
              =t 'spina.shop.invoices.no_invoices'

  .pagination= link_to_next_page @invoices, 'Next'