= form_with model: @supply_order, url: spina.shop_admin_supply_order_path(@supply_order) do |f|
  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        =t "spina.shop.save"

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well{style: "margin-right: -20px"}
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::SupplyOrder.human_attribute_name :supplier

          .sidebar-form-control
            = f.select :supplier_id, options_for_select(@suppliers.pluck(:name, :id), f.object.supplier_id), {include_blank: t('spina.shop.supply_orders.choose_supplier')}, class: 'select2', style: 'width: 100%'
