.modal
  = form_with model: @supply_order, url: spina.shop_admin_supply_orders_path do |f|
    %header
      = link_to '#', data: {dismiss: "modal"} do
        = icon('cross')
      %h3
        =t 'spina.shop.supply_orders.new_html'

    %section
      .select-dropdown{style: 'width: 100%'}= f.select :supplier_id, options_for_select(@suppliers.pluck(:name, :id)), include_blank: t("spina.shop.supply_orders.choose_supplier")
  
    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.shop.supply_orders.create'