- content_for(:header_actions) do
  = link_to spina.new_shop_admin_supply_order_path, class: 'button button-mini icon-only', data: {remote: true} do
    %i.icon.icon-plus{style: 'vertical-align: bottom'}

.table-container.infinite-table
  %table.table.table-clickable.products-table
    %thead
      %tr
        %th= Spina::Shop::SupplyOrder.human_attribute_name :id
        %th= Spina::Shop::SupplyOrder.human_attribute_name :supplier
        %th= Spina::Shop::SupplyOrder.human_attribute_name :ordered_at
        %th= Spina::Shop::SupplyOrder.human_attribute_name :expected_delivery
        %th= Spina::Shop::SupplyOrder.human_attribute_name :ordered_supply

    %tbody
      = render partial: 'supply_order', collection: @supply_orders