- content_for(:header_actions) do
  = link_to spina.edit_shop_admin_supply_order_path(@supply_order), class: 'button' do
    =t 'spina.edit'

.wizard-steps
  .wizard-step.done
    .wizard-step-circle
      .wizard-step-label=t "spina.shop.supply_orders.status.concept"
    .wizard-step-connector

  .wizard-step{class: ('done' if @supply_order.ordered?)}
    .wizard-step-circle
      %i.icon.icon-mail
      .wizard-step-label{style: "white-space: nowrap"}=t "spina.shop.supply_orders.status.ordered"
    .wizard-step-connector

  .wizard-step{class: ('done' if @supply_order.received?)}
    .wizard-step-circle
      %i.icon.icon-shop
      .wizard-step-label=t "spina.shop.supply_orders.status.received"
    .wizard-step-connector

.divider-container
  %hr.divider/

.information-tables
  .information-table
    %table
      %tr
        %th= Spina::Shop::SupplyOrder.model_name.human
        %td= "##{@supply_order.id}"
      %tr
        %th= Spina::Shop::SupplyOrder.human_attribute_name(:supplier)
        %td= @supply_order.supplier.name

  .information-table
    %table
      %tr
        %th= Spina::Shop::SupplyOrder.human_attribute_name(:ordered_at)
        %td
          - if @supply_order.ordered_at.present?
            =l @supply_order.ordered_at, format: '%e %B %Y'
      %tr
        - if @supply_order.received?
          %th= Spina::Shop::SupplyOrder.human_attribute_name(:received_at)
          %td=l @supply_order.received_at, format: '%e %B %Y'
        - else
          %th= Spina::Shop::SupplyOrder.human_attribute_name(:expected_delivery)
          %td
            - if @supply_order.expected_delivery.present?
              =l @supply_order.expected_delivery, format: '%e %B %Y'

  .information-table
    %table
      %tr
        %th= Spina::Shop::SupplyOrder.human_attribute_name(:delivery_tracking_url)
        %td= link_to @supply_order.delivery_tracking_url, "#{@supply_order.delivery_tracking_url}"

      %tr
        %th= Spina::Shop::SupplyOrder.human_attribute_name(:note)
        %td= @supply_order.note
        

.divider-container
  %hr.divider/

.table-container
  %table.table
    %thead
      %tr
        %th= Spina::Shop::Product.human_attribute_name(:name)
        %th.text-right= Spina::Shop::OrderedSupply.human_attribute_name(:quantity)
        %th.text-right= Spina::Shop::OrderedSupply.human_attribute_name(:received)
        %th

    - @supply_order.ordered_supply.each do |ordered|
      %tr
        %td
          = link_to ordered.product.full_name, spina.shop_admin_product_path(ordered.product)
        %td.text-right{style: 'width: 50px'}= ordered.quantity
        %td.text-right{style: 'width: 50px'}= ordered.received
        %td.text-right
          = link_to spina.shop_admin_supply_order_ordered_supply_path(@supply_order, ordered), class: 'button button-link button-mini icon-only', method: :delete do
            = icon('trash')