.container
  = link_to "â‡¤ Levering ##{@stock_order.id}", spina.shop_stock_management_stock_order_path(@stock_order), class: 'button button-link', style: 'margin-bottom: 10px'
  .page-title
    - if @ordered_stock.product.product_images.any? || @ordered_stock.product.root.product_images.any?
      .page-title-image{style: "width: 30px; margin-right: 20px"}
        = image_tag main_app.url_for((@ordered_stock.product.product_images.first || @ordered_stock.product.root.product_images.first).file.variant(resize: '60x120')), style: 'margin: 0 auto 0 auto; display: block'

    %div
      = @ordered_stock.product.name
      %small= @ordered_stock.product.variant_name

  - if @ordered_stock.new_product?
    %span.text-muted
      â­ï¸
      Nieuw product
    %br/

  %strong Locatie:
  = @ordered_stock.product.location

  %br/
  %br/

  %strong Besteld:
  = @ordered_stock.quantity

  %br/
  %br/

  %strong Reeds ontvangen: 
  = @ordered_stock.received
  %br/
  %br/
  = form_with url: spina.shop_stock_management_stock_order_receive_products_path(@stock_order), data: {controller: "receive-products", should_receive: @ordered_stock.quantity - @ordered_stock.received} do |f|
    = f.hidden_field :ordered_stock_id, value: @ordered_stock.id
    - if @ordered_stock.received > 0
      .text-danger{style: "margin-bottom: 20px"}
        %strong Let op!
        Je hebt dit product al ingevuld. 
        %br/ 
        %br/
        Heb je meer ontvangen? Vul dan alleen de extra hoeveelheid in. Spina telt dit automatisch bij elkaar op.
    .form-control= f.number_field :received, placeholder: "Ontvangen", pattern: "[0-9]*", data: {target: "receive-products.receivedField", action: "keyup->receive-products#validateReceivedField"}

    - if @ordered_stock.product.can_expire?
      .input-group
        .select-dropdown= f.select :expiration_month, options_for_select((1..12).map {|m| [I18n.l(DateTime.parse(Date::MONTHNAMES[m]), format: "%B"), m]}), prompt: "Kies een maand"

        .select-dropdown= f.select :expiration_year, options_for_select(Date.today.year..8.years.from_now.year), prompt: "Kies een jaar"

    = button_tag type: :submit, class: 'button button-primary button-block', style: 'margin-top: 20px', data: {disable_with: "Opslaan..."} do
      ðŸ’¾ Opslaan