.container
  %div{style: 'float: right'}= link_to 'uitloggen', spina.shop_stock_management_logout_path, class: 'button button-link'
  .page-title.page-title-large
    %div
      %small Ingelogd als #{current_spina_user.try(:name)}
      Dashboard

  = link_to '🚚 Leveringen', spina.shop_stock_management_stock_orders_path, class: 'button button-block'
  
  %br/

  = link_to "📦 Voorraad opnieuw tellen", spina.shop_stock_management_locations_path, class: 'button button-block'

  %br/
  
  = link_to "👟 Orderpicken", spina.shop_stock_management_orders_path, class: 'button button-block'