

    

    %li{class: ('active' if controller_name.in? %w(customers customer_accounts customer_groups))}
      = link_to Spina::Shop::Customer.model_name.human(count: 2), spina.shop_admin_customers_path 
    %li{class: ('active' if controller_name.in? %w(product_reviews shop_reviews)), data: {badge: (unapproved_shop_reviews_count if unapproved_shop_reviews_count > 0)}}
      = link_to Spina::Shop::ProductReview.model_name.human(count: 2), spina.shop_admin_product_reviews_path
    %li{class: ('active' if controller_name == 'discounts'), style: 'margin-top: 20px'}
      = link_to Spina::Shop::Discount.model_name.human(count: 2), spina.shop_admin_discounts_path
    %li{class: ('active' if controller_name == 'gift_cards')}
      = link_to Spina::Shop::GiftCard.model_name.human(count: 2), spina.shop_admin_gift_cards_path
    %li{class: ('active' if controller_name == 'invoices'), style: 'margin-top: 20px'}
      = link_to Spina::Shop::Invoice.model_name.human(count: 2), spina.shop_admin_invoices_path

    - if current_spina_user.admin?
      %li{class: ('active' if request.path.include?("analytics"))}
        = link_to t('spina.shop.analytics.title'), spina.shop_admin_analytics_exports_path

    - Spina::Plugin.all.each do |plugin|
      - if current_theme.plugins.include? plugin.name
        - if lookup_context.exists?("shop_secondary_navigation", "spina/admin/hooks/#{plugin.namespace}", true)
          = render "spina/admin/hooks/#{plugin.namespace}/shop_secondary_navigation", plugin: plugin

    %li
      = link_to '#', class: 'back-to-main-menu' do
        = icon('caret-left')
        =t 'spina.main_menu'