= form_for @shared_property, url: @shared_property.new_record? ? spina.shop_admin_settings_shared_properties_path : spina.shop_admin_settings_shared_property_path(@shared_property) do |f|
  %header#header
    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        =t 'spina.save'

  .well{style: 'padding-top: 0; padding-bottom: 0'}
    = f.fields_for :property_options do |ff|
      = render partial: 'spina/shop/admin/settings/property_options/fields', locals: {f: ff}

    = link_to_add_property_option_fields f, :property_options do
      = icon('plus')
      =t 'spina.shop.properties.options.add'