= form_for @product_bundle, url: @product_bundle.new_record? ? spina.shop_admin_product_bundles_path : spina.shop_admin_product_bundle_path(@product_bundle) do |f|
  = hidden_field_tag :locale, @locale

  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        Opslaan

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    = render 'spina/shop/admin/shared/locale_switcher' unless @product_bundle.new_record?

  .sidebar-form
    - Mobility.with_locale(@locale) do
      .sidebar-form-content
        .well
          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::ProductBundle.human_attribute_name :name
            .sidebar-form-control
              = f.text_field :name, placeholder: Spina::Shop::ProductBundle.human_attribute_name(:name)

        .well
          .sidebar-form-group
            .sidebar-form-control
              = f.hidden_field :description, id: 'product_bundle_description'

              #product_bundle_description_toolbar.spina-trix-toolbar{style: 'margin-top: 20px'}
                .button-groups
                  .button-group
                    %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix_attribute: 'bold', trix_key: 'b' }}
                      .icon.icon-bold
                    %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix_attribute: 'italic', trix_key: 'i' }}
                      .icon.icon-italic
                    %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix_attribute: 'bullet' }}
                      .icon.icon-list-ul
                    %button.button.button-small{type: "button", tabindex: -1, title: "Link", data: {trix_attribute: 'href', trix_key: 'k', trix_action: 'link'}}
                      .icon.icon-link

                .trix-dialogs{data: {trix_dialogs: ""}}
                  .trix-dialog.trix-dialog--link{data: {trix_dialog: 'href', trix_dialog_attribute: 'href'}}
                    .trix-dialog__link-fields
                      %input.trix-input.trix-input--dialog{type: "text", name: "href", placeholder: "Enter a URL", required: true, data: {trix_input: ""}}
                      .trix-button-group
                        %button.button.button-primary.icon-only.button-small.trix-button.trix-button--dialog{type: 'button', data: {trix_method: "setAttribute"}}
                          %i.icon.icon-link
                        %button.button.button-default.icon-only.button-small.trix-button.trix-button--dialog{type: 'button', value: "Unlink", data: {trix_method: "removeAttribute"}}
                          %i.icon.icon-cross

              %trix-editor.text-input{input: "product_bundle_description", toolbar: "product_bundle_description_toolbar", id: "product_bundle_description_editor", placeholder: Spina::Shop::ProductBundle.human_attribute_name(:description)}

        .well
          = f.fields_for :bundled_products do |ff|
            = render 'bundled_products_fields', f: ff

          = link_to_add_product_fields f, :bundled_products do
            = icon('plus')
            =t 'spina.shop.product_bundles.add_bundled_product'

        .well
          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::ProductBundle.human_attribute_name :seo_title
            .sidebar-form-control
              = f.text_field :seo_title, placeholder: Spina::Shop::ProductBundle.human_attribute_name(:seo_title), value: f.object.seo_title(fallback: false, default: nil)

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::ProductBundle.human_attribute_name :seo_description
            .sidebar-form-control
              = f.text_field :seo_description, placeholder: Spina::Shop::ProductBundle.human_attribute_name(:seo_description), value: f.object.seo_description(fallback: false, default: nil)

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::ProductBundle.human_attribute_name :materialized_path
            .sidebar-form-control
              = f.text_field :materialized_path, disabled: true

      .sidebar-form-sidebar
        #productImageUploader.sidebar-form-images
          = f.fields_for :product_images, f.object.product_images.ordered do |image_builder|
            - if image_builder.object.file.attached?
              .sidebar-form-image{data: {id: image_builder.object.id}}>
                = product_image_tag(image_builder.object, variant: {resize: '640x480'})
                = link_to main_app.url_for(image_builder.object.file), target: :blank, class: 'export', style: "position: absolute; top: 0; right: 0; color: #fff; font-size: 14px; text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)" do
                  = icon('export')
                = image_builder.hidden_field :id
                = image_builder.hidden_field :position, class: 'product-image-position'
                = image_builder.check_box :_destroy, style: 'display: none'
                = link_to '#', style: "position: absolute; bottom: 0; right: 0", class: 'delete-image' do
                  = image_tag 'spina/shop/delete-big.png'
                  = image_tag 'spina/shop/delete-big-confirm.png'
                .sidebar-form-image-overlay

        = f.file_field :files, multiple: true, accept: "image/*", class: "sidebar-form-image-dropzone", data: {direct_upload_url: main_app.rails_direct_uploads_url}

        .form-group
          .form-label
            = Spina::Shop::ProductBundle.human_attribute_name :active
          
          .form-control
            = f.check_box :active, data: {switch: true}

        .form-group
          .form-label
            = Spina::Shop::ProductBundle.human_attribute_name :price

          .form-control{data: {form_prepend: '€'}}
            .input-group
              = f.text_field :price, value: number_with_precision(f.object.price, precision: 2)
              .select-dropdown{style: "min-width: 120px"}
                = f.select :tax_group_id, options_for_select(Spina::Shop::TaxGroup.all.map{|t| [t.name, t.id]}, f.object.tax_group_id)

        .form-group
          .form-label
            %small.pull-right.text-muted
              = number_to_currency f.object.total_of_individual_products
              volgens calculatie
            = Spina::Shop::ProductBundle.human_attribute_name :original_price

          .form-control{data: {form_prepend: '€'}}
            = f.text_field :original_price, value: number_with_precision(f.object.original_price, precision: 2)

        .form-group
          .form-label
            = Spina::Shop::ProductBundle.human_attribute_name :sales_category

          .form-control
            .select-dropdown{style: 'width: 100%'}
              = f.select :sales_category_id, options_for_select(Spina::Shop::SalesCategory.all.map{|c| [c.name, c.id]}, f.object.sales_category_id)

  - unless @product_bundle.new_record?
    .pull-right
      - if @product_bundle.archived?
        = link_to t("spina.shop.products.unarchive"), spina.unarchive_shop_admin_product_bundle_path(@product_bundle), class: 'button button-link', method: :post

      - else
        = link_to t('spina.shop.products.archive'), spina.archive_shop_admin_product_bundle_path(@product_bundle), class: 'button button-link', method: :post, data: {confirm: t('spina.shop.products.archive_confirmation', name: @product_bundle.name)}

      = link_to 'Verwijderen', spina.shop_admin_product_bundle_path(@product_bundle), data: {method: :delete, confirm: "Weet je het zeker?"}, class: 'button button-danger button-link'
