%tr{class: ('text-muted' unless product_bundle.active?)}
  %td
    = link_to product_bundle.name, spina.shop_admin_product_bundle_path(product_bundle), class: 'table-link'
  %td
    = product_bundle.bundled_products.sum(:quantity)
    producten
  %td.align-right
    = product_bundle.order_items.joins(:order).where.not(spina_shop_orders: {paid_at: nil}).sum(:quantity)
    &times;
  %td.text-right
    %em.text-muted{style: 'text-decoration: line-through'}
      = number_to_currency product_bundle.original_price
    &nbsp;
    = number_to_currency product_bundle.price
  %td.align-right
    - if product_bundle.active?
      - if !product_bundle.archived?
        - if product_bundle.in_stock?
          .status-dot.status-dot-success
        - else
          .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.out_of_stock')}}
      - else
        .status-dot{style: 'background: #999', data: {tooltip: "URL benaderbaar"}}
    - else
      .status-dot
