%header#header
  .breadcrumbs
    .pull-right{style: "height: 0px"}
      = link_to spina.new_shop_admin_product_bundle_path, class: 'button button-mini icon-only' do
        %i.icon.icon-plus{style: 'vertical-align: bottom'}
    = render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary
    %ul
      %li
        = link_to spina.shop_admin_products_path do
          =t 'spina.shop.products.title'

      %li
        = link_to spina.archived_shop_admin_products_path do
          =t 'spina.shop.products.archived_title'

      %li.active
        = link_to spina.shop_admin_product_bundles_path do
          Productbundels

.table-container.infinite-table
  %table.table.table-clickable
    %thead
      %tr
        %th Bundel
        %th Inhoud
        %th.text-right Prijs
        %th{style: 'width: 50px'}

    %tbody= render partial: 'product_bundle', collection: @product_bundles
              
  .pagination= link_to_next_page @product_bundles, 'Next'