.modal.modal-old-style
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3.text-center
      %strong= @products.count
      %strong= Spina::Shop::Product.model_name.human(count: @products.count).downcase 
      aanpassen

  = form_with url: spina.shop_admin_products_batch_path(q: params.permit(q: {})[:q], filters: params.permit(filters: {})[:filters]), method: :put do |f|
    = f.hidden_field :batch_edit, value: params[:modal]
    - if params[:select_all]
      = f.hidden_field :select_all, value: params[:select_all]
    - else
      - @products.each do |product|
        = f.hidden_field :product_ids, multiple: true, value: product.id

    %section
      .form-control
        .input-group
          .select-dropdown
            = f.select :add_or_remove, options_for_select([['Toevoegen', 'add'], ['Verwijderen', 'remove']])

          .select-dropdown
            = f.select :store_id, options_for_select(stores.pluck(:name, :id)), include_blank: "Kies een winkel"

    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-check{style: 'margin-right: 4px'}
        =t 'spina.shop.save'