.modal.modal-old-style
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3.text-center
      %strong= @products.count
      %strong= Spina::Shop::Product.model_name.human(count: @products.count).downcase 
      aanpassen

  = form_with url: spina.shop_admin_products_batch_path(q: params.permit(q: {})[:q], filters: params.permit(filters: {})[:filters]), method: :put do |f|
    - if params[:select_all]
      = f.hidden_field :select_all, value: params[:select_all]
    - else
      - @products.each do |product|
        = f.hidden_field :product_ids, multiple: true, value: product.id

    %section
      .form-control{data: {form_append: 'gr'}}
        = f.text_field :weight, placeholder: Spina::Shop::Product.human_attribute_name(:weight)
      
    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-check{style: 'margin-right: 4px'}
        =t 'spina.shop.save'