= form_for [:admin, @product_bundle] do |f|

  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        Opslaan

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductBundle.human_attribute_name :name
          .sidebar-form-control
            = f.text_field :name, placeholder: Spina::ProductBundle.human_attribute_name(:name)

      .well
        = f.fields_for :bundled_product_items do |product_item_fields|
          .sidebar-form-group
            .sidebar-form-label
              = Spina::BundledProductItem.human_attribute_name :quantity
            .sidebar-form-control
              = product_item_fields.text_field :quantity, placeholder: Spina::BundledProductItem.human_attribute_name(:quantity)

          .sidebar-form-group
            .sidebar-form-label
              = Spina::BundledProductItem.human_attribute_name :product_item
            .sidebar-form-control
              = product_item_fields.select :product_item_id, options_for_select(Spina::ProductItem.all.map{|i| [i.product.name, i.id]}, product_item_fields.object.product_item_id), {}, style: 'width: 100%'

    .sidebar-form-sidebar
      #productImageUploader.sidebar-form-images
        = f.fields_for :product_images, f.object.product_images.ordered do |image_builder|
          - if image_builder.object.file.present?
            .sidebar-form-image{data: {id: image_builder.object.id}}>
              = image_tag attachment_url(image_builder.object, :file, :fill, 320, 240)
              = image_builder.hidden_field :id
              = image_builder.hidden_field :position, class: 'product-image-position'
              = image_builder.check_box :_destroy, style: 'display: none'
              = link_to '#', style: "position: absolute; bottom: 0; right: 0" do
                = image_tag 'delete-big.png'
                = image_tag 'delete-big-confirm.png'
              .sidebar-form-image-overlay

      = f.attachment_field :product_images_files, direct: true, multiple: true, presigned: true, class: "sidebar-form-image-dropzone"

      .form-group
        .form-label
          = Spina::ProductBundle.human_attribute_name :price

        .form-control{data: {form_prepend: '€'}}
          .input-group
            = f.text_field :price, value: number_with_precision(f.object.price)
            .select-dropdown{style: "min-width: 120px"}
              = f.select :tax_group_id, options_for_select(Spina::TaxGroup.all.map{|t| [t.name, t.id]}, f.object.tax_group_id)

      .form-group
        .form-label
          = Spina::ProductBundle.human_attribute_name :sales_category

        .form-control
          .select-dropdown{style: 'width: 100%'}
            = f.select :sales_category_id, options_for_select(Spina::SalesCategory.all.map{|c| [c.name, c.id]}, f.object.sales_category_id)

  - unless @product_bundle.new_record?
    .pull-right
      = link_to 'Verwijderen', admin_product_bundle_path(@product_bundle), data: {method: :delete, confirm: "Weet je het zeker?"}, class: 'button button-danger button-link'