- content_for(:header_actions) do
  = link_to spina.new_shop_admin_location_location_code_path(@location), class: 'button button-default icon-only', data: {remote: true} do
    %i.icon.icon-plus{style: 'vertical-align: bottom'}
    Locatiecode toevoegen

= search_form_for @q, url: spina.shop_admin_location_location_codes_path(@location), html: {class: 'filter-form'} do |f|
  .filter-form-simple
    .filter-form-input
      = f.text_field :code_start, style: 'box-sizing: border-box', placeholder: 'Filter op locatie'
  
    = button_tag type: :submit, class: 'button button-primary icon-only' do
      = icon('search')

- if @empty_location_codes.present?
  %h3{style: "margin-top: 30px; margin-bottom: -10px"} Lege locaties
  .table-container
    %table.table
      %thead
        %tr
          %th Locatiecode
          %th Product
          %th.text-right Voorraad
          %th
      %tbody
        - @empty_location_codes.each do |empty_location_code|
          %tr
            %td= empty_location_code.code
            %td –
            %td.text-right –
            %td.text-right
              = link_to spina.shop_admin_location_location_code_path(@location, empty_location_code), class: 'button button-mini button-default icon-only', data: {turbo_method: :delete, turbo_confirm: "Weet je het zeker?"} do
                %i.icon.icon-trash
                
- if @out_of_stock_location_codes&.any?
  %h3{style: "margin-top: 30px; margin-bottom: -10px"} Uit voorraad locaties
  .table-container
    %table.table
      %thead
        %tr
          %th Locatiecode
          %th Product
          %th.text-right Voorraad
      %tbody
        - @out_of_stock_location_codes.each do |location_code|
          %tr
            %td= location_code.code
            %td
              - location_code.product_locations.where(stock_level: 0).each do |product_location|
                = link_to product_location.product.full_name, spina.edit_shop_admin_product_path(product_location.product)
                %br/
            %td.text-right
              - location_code.product_locations.where(stock_level: 0).each do |product_location|
                %div
                  = product_location.stock_level 
                  \/
                  = product_location.product.stock_level

%h3{style: "margin-top: 30px; margin-bottom: -10px"} Alle locaties
.table-container
  %table.table
    %thead
      %tr
        %th Locatiecode
        %th Product
        %th.text-right Voorraad
        
    %tbody
      - @location_codes.each do |location_code|
        %tr
          %td= location_code.code
          %td
            - location_code.products.each do |product|
              = link_to product.full_name, spina.edit_shop_admin_product_path(product)
              %br/
          %td.text-right
            - location_code.products.each do |product|
              - if @location.primary?
                - sum_stock_level = product.product_locations.sum(:stock_level)
                - if sum_stock_level > 0
                  = product.stock_level - product.product_locations.sum(:stock_level)
                  \/
                  = product.stock_level
                - else
                  = product.stock_level
              - else
                = product.product_locations.find_by(location: @location).stock_level
                \/
                = product.stock_level
              %br/

= paginate @location_codes