= form_tag spina.delete_multiple_shop_admin_product_reviews_path, data: {turbo_method: :delete} do
  .pull-right{style: "margin-top: 20px"}
    = button_tag type: :submit, class: 'button button-primary' do
      = icon('trash')
      = t('spina.shop.delete_selected')

  .table-container.infinite-table
    %table.table.table-clickable
      %thead
        %tr
          %th
          %th.nowrap= Spina::Shop::ProductReview.human_attribute_name(:author)
          %th.nowrap= Spina::Shop::ProductReview.human_attribute_name(:review)
          %th.nowrap.text-right= Spina::Shop::ProductReview.human_attribute_name(:score)

      %tbody
        - if @product_reviews.any?
          = render partial: 'product_review', collection: @product_reviews
        - else
          %tr
            %td{colspan: 4}
              %p.text-center
                %em.text-muted= 'spina.shop.product_reviews.no_reviews'

    .pagination= link_to_next_page @product_reviews, "Next"