= form_for @customer, url: @customer.new_record? ? spina.shop_admin_customers_path : spina.shop_admin_customer_path(@customer) do |f|
  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        =t ('spina.shop.customers.save')

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :company

          .sidebar-form-control
            = f.text_field :company, placeholder: Spina::Shop::Customer.human_attribute_name(:company)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :first_name

          .sidebar-form-control
            = f.text_field :first_name, placeholder: Spina::Shop::Customer.human_attribute_name(:first_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :last_name

          .sidebar-form-control
            = f.text_field :last_name, placeholder: Spina::Shop::Customer.human_attribute_name(:last_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :email

          .sidebar-form-control
            = f.text_field :email, placeholder: Spina::Shop::Customer.human_attribute_name(:email)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :phone

          .sidebar-form-control
            = f.text_field :phone, placeholder: Spina::Shop::Customer.human_attribute_name(:phone)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :vat_id

          .sidebar-form-control
            = f.text_field :vat_id, placeholder: Spina::Shop::Customer.human_attribute_name(:vat_id)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :postpay_allowed

          .sidebar-form-control
            = f.check_box :postpay_allowed, data: {switch: true}

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :country

          .sidebar-form-control
            = f.select :country_id, options_for_select(Spina::Shop::Country.order(:name).map{|c| [c.name, c.id]}, f.object.country_id), {include_blank: true}, class: 'select2', style: 'width: 100%'

      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :customer_group
          .sidebar-form-control
            = f.select :customer_group_id, options_for_select(Spina::Shop::CustomerGroup.all.map{|g| [g.name, g.id]}, f.object.customer_group_id), {include_blank: t('spina.shop.customers.no_customer_group')}, class: 'select2', style: 'width: 100%'

      = f.fields_for :addresses do |address_builder|
        = render 'address_fields', f: address_builder

      = link_to_add_address f, :addresses do
        = icon('plus')
        =t 'spina.shop.addresses.add_address'