= form_for @customer, url: @customer.new_record? ? spina.shop_admin_customers_path : spina.shop_admin_customer_path(@customer) do |f|
  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        =t ('spina.shop.customers.save')

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :first_name

          .sidebar-form-control
            = f.text_field :first_name, placeholder: Spina::Shop::Customer.human_attribute_name(:first_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :last_name

          .sidebar-form-control
            = f.text_field :last_name, placeholder: Spina::Shop::Customer.human_attribute_name(:last_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :email

          .sidebar-form-control
            = f.text_field :email, placeholder: Spina::Shop::Customer.human_attribute_name(:email)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Customer.human_attribute_name :phone

          .sidebar-form-control
            = f.text_field :phone, placeholder: Spina::Shop::Customer.human_attribute_name(:phone)

      = f.fields_for :addresses do |address_builder|
        .well
          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::Address.human_attribute_name :street1
            .sidebar-form-control
              = address_builder.text_field :street1, placeholder: Spina::Shop::Address.human_attribute_name(:street1), style: 'padding-bottom: 0px; height: 40px'
              %br/
              = address_builder.text_field :street2, placeholder: Spina::Shop::Address.human_attribute_name(:street2), style: 'padding-top: 0px; padding-bottom: 0px; height: 30px'

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::Address.human_attribute_name :postal_code
            .sidebar-form-control
              = address_builder.text_field :postal_code

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Shop::Address.human_attribute_name :city
            .sidebar-form-control
              = address_builder.text_field :city
          
          .sidebar-form-group
            .sidebar-form-label
              =t 'spina.delete'
            .sidebar-form-control
              %div{style: 'margin: 12px 10px'}
                = address_builder.check_box :_destroy, data: {switch: true}