%header#header
  #header_actions
    - if @customer.customer_account.present?
      = link_to spina.edit_shop_admin_customer_customer_account_path(@customer), class: 'button' do
        = icon('pencil')
        =t 'spina.shop.customer_accounts.edit'

    = link_to spina.edit_shop_admin_customer_path(@customer), class: 'button' do
      = icon('pencil')
      =t 'spina.shop.customers.edit'

  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary.tabs
    %ul
      %li.active
        = link_to '#profile' do
          =t 'spina.shop.customers.profile'

.tab-content.active#profile

  .information-tables{style: 'margin-top: 20px'}
    .information-table
      %table
        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:name)
          %td= @customer.name

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:number)
          %td= @customer.number

        - if @customer.vat_id.present?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:vat_id)
            %td= @customer.vat_id

        - if @customer.customer_group.present?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:customer_group)
            %td= @customer.customer_group.name

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:email)
          %td= mail_to @customer.email, @customer.email

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:phone)
          %td= @customer.phone

        %tr
          %th= Spina::Shop::CustomerAccount.model_name.human
          %td
            - if @customer.customer_account.present?
              =t 'spina.shop.customer_accounts.registered'
            - else
              =t 'spina.shop.customer_accounts.guest'

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:ip_addresses)
          %td= @customer.ip_addresses.join("<br />").html_safe

    .information-table
      - if @customer.orders.any?
        %table
          %tr
            %th=t 'spina.shop.customers.order_total'
            %td
              = number_to_currency @customer.orders.received.inject(BigDecimal(0)) {|t, o| t + o.total}

          %tr
            %th=t 'spina.shop.customers.order_average'
            %td
              = number_to_currency (@customer.orders.received.inject(BigDecimal(0)) {|t, o| t + o.total} || 0) / @customer.orders.received.count

    .information-table
      %table
        - @customer.addresses.each do |address|
          %tr
            %th= Spina::Shop::Address.model_name.human
            %td
              = [address.street1, address.street2].compact.join('<br />').html_safe
              %br/
              = [address.postal_code, address.city].join(', ')

  .divider-container
    %hr.divider/

  .table-container
    %table.table.table-clickable
      %thead
        %tr
          %th
          %th= Spina::Shop::Order.human_attribute_name(:order_number)
          %th= Spina::Shop::Customer.model_name.human
          %th= Spina::Shop::Order.human_attribute_name(:received_at)
          %th= Spina::Shop::Order.human_attribute_name(:shipped_at)
          %th.text-right= Spina::Shop::Order.human_attribute_name(:total)
          %th

      %tbody
        - if @customer.orders.received.any?
          = render partial: 'spina/shop/admin/orders/order', collection: @customer.orders.sorted.received

        - else
          %tr
            %td{colspan: 7}
              %p.text-center.text-muted
                %em=t 'spina.shop.customers.no_orders_yet'
