%header#header
  #header_actions
    - if @customer.customer_account.present?
      = link_to spina.edit_shop_admin_customer_customer_account_path(@customer), class: 'button' do
        = icon('pencil')
        =t 'spina.shop.customer_accounts.edit'
    - else
      = link_to spina.new_shop_admin_customer_customer_account_path(@customer), class: 'button' do
        = icon('pencil')
        =t 'spina.shop.customer_accounts.new'

    = link_to spina.edit_shop_admin_customer_path(@customer), class: 'button' do
      = icon('pencil')
      =t 'spina.shop.customers.edit'

  .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary.tabs
    %ul
      %li.active
        = link_to '#profile' do
          =t 'spina.shop.customers.profile'

.tab-content.active#profile

  .information-tables{style: 'margin-top: 20px'}
    .information-table
      %table
        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:name)
          %td= @customer.full_name

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:number)
          %td= @customer.number

        - if @customer.customer_group.present?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:customer_group)
            %td= @customer.customer_group.name

        - if @customer.customer_account.try(:store).present?
          %tr
            %th= Spina::Shop::CustomerAccount.human_attribute_name(:store)
            %td= @customer.customer_account.store.name

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:country)
          %td
            = @customer.country.try(:name)
            = "(#{@customer.country.try(:code)})"

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:email)
          %td= mail_to @customer.email, @customer.email

        - if @customer.billing_email.present?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:billing_email)
            %td= mail_to @customer.billing_email, @customer.billing_email

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:phone)
          %td= @customer.phone

        %tr
          %th= Spina::Shop::CustomerAccount.model_name.human
          %td
            - if @customer.customer_account.present?
              =t 'spina.shop.customer_accounts.registered'
            - else
              =t 'spina.shop.customer_accounts.guest'

        %tr
          %th= Spina::Shop::Customer.human_attribute_name(:ip_addresses)
          %td= @customer.ip_addresses.join("<br />").html_safe

    .information-table
      - if @customer.orders.any?
        %table
          %tr
            %th=t 'spina.shop.customers.order_total'
            %td
              = number_to_currency @customer.orders.received.limit(10).inject(BigDecimal(0)) {|t, o| t + o.total}

          %tr
            %th=t 'spina.shop.customers.order_average'
            %td
              = number_to_currency (@customer.orders.received.limit(10).inject(BigDecimal(0)) {|t, o| t + o.total} || 0) / @customer.orders.received.count

    .information-table
      %table
        - @customer.addresses.each do |address|
          %tr
            %th= Spina::Shop::Address.model_name.human
            %td
              = address.address
              %br/
              = [address.postal_code, address.city].join(', ')

        - if @customer.company.present?
          %th= Spina::Shop::Customer.human_attribute_name(:company)
          %td= @customer.company

        - if @customer.vat_id.present?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:vat_id)
            %td#validate_vat_id{data: {url: spina.validate_vat_id_shop_admin_customer_path(@customer)}}
              = @customer.vat_id
              %span.result

        - if @customer.postpay_allowed?
          %tr
            %th= Spina::Shop::Customer.human_attribute_name(:postpay_allowed)
            %td= icon(:check)

  .divider-container
    %hr.divider/

  .table-container
    %table.table.table-clickable
      %thead
        %tr
          %th{colspan: Spina::Shop::Store.many? ? 2 : 1}
          %th= Spina::Shop::Order.human_attribute_name(:order_number)
          %th= Spina::Shop::Customer.model_name.human
          %th= Spina::Shop::Order.human_attribute_name(:received_at)
          %th= Spina::Shop::Order.human_attribute_name(:delivery_option)
          %th.nowrap= Spina::Shop::Order.human_attribute_name(:shipped_at)
          %th.text-right= Spina::Shop::Order.human_attribute_name(:total)
          %th

      %tbody
        - if @customer.orders.received.any?
          = render partial: 'spina/shop/admin/orders/order', collection: @customer.orders.sorted.received.limit(10)

        - else
          %tr
            %td{colspan: 7}
              %p.text-center.text-muted
                %em=t 'spina.shop.customers.no_orders_yet'

- if @customer.persisted? && @customer.orders.none? && @customer.invoices.none?
  .pull-right
    = link_to spina.shop_admin_customer_path(@customer), class: 'button button-danger button-link', data: {method: :delete, confirm: t('spina.shop.customers.delete_confirmation_html', name: @customer.name)} do
      = icon('trash')
      =t 'spina.shop.customers.delete'