- product.product_items.each_with_index do |product_item, index|
  %tr
    %td
      = link_to product_item.sku, [:admin, product], class: 'table-link'
    %td
      = link_to [:admin, product], class: 'table-link' do
        = product.name
        = product_item.name
    %td.align-right
      = number_to_currency product_item.price
    %td.align-right
      = product_item.stock_level
    %td.align-right
      =l product_item.expiration_date, format: '%B \'%y' if product_item.can_expire? && product_item.expiration_date.present?