= form_for @gift_card, url: @gift_card.new_record? ? spina.shop_admin_gift_cards_path : spina.shop_admin_gift_card_path(@gift_card) do |f|
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        =t 'spina.shop.gift_cards.save'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::GiftCard.human_attribute_name :value

          .sidebar-form-control
            = f.number_field :value, placeholder: Spina::Shop::GiftCard.human_attribute_name(:value), min: 0, step: 0.01, disabled: @gift_card.persisted?

    .sidebar-form-sidebar{style: 'padding-top: 20px'}
      .form-group
        .form-label
          = Spina::Shop::GiftCard.human_attribute_name :expires_at
        
        .form-control
          .input-group
            = f.date_field :expires_at
