%header#header
  .breadcrumbs
    .pull-right{style: 'height: 0px'}
      = link_to spina.new_shop_admin_gift_card_path, class: 'button button-mini icon-only' do
        %i.icon.icon-plus{style: 'vertical-align: bottom'}
    = render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary
    %ul
      %li{class: ('active' if action_name == "index")}
        = link_to t('spina.shop.gift_cards.all'), spina.shop_admin_gift_cards_path
      %li{class: ('active' if action_name == "unused")}
        = link_to t('spina.shop.gift_cards.unused'), spina.unused_shop_admin_gift_cards_path

= search_form_for @q, url: spina.shop_admin_gift_cards_path, html: {class: 'filter-form'} do |f|
  .filter-form-simple
    .filter-form-input
      = f.text_field :code_cont, style: 'box-sizing: border-box', placeholder: 'Filter op code'

    = button_tag type: :submit, class: 'button button-primary icon-only' do
      = icon('search')

.table-container.infinite-table
  %table.table
    %thead
      %tr
        %th= Spina::Shop::GiftCard.human_attribute_name :code
        %th= Spina::Shop::GiftCard.human_attribute_name :value
        %th= Spina::Shop::GiftCard.human_attribute_name :remaining_balance
        %th= Spina::Shop::GiftCard.human_attribute_name :created_at
        %th= Spina::Shop::GiftCard.human_attribute_name :expires_at
        %th

    %tbody
      = render partial: 'gift_card', collection: @gift_cards

  .pagination= link_to_next_page @gift_cards, 'Next'