= form_for @order, url: @order.new_record? ? spina.shop_admin_orders_path : spina.shop_admin_order_path(@order) do |f|
  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        =t ('spina.shop.orders.save')

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name(:note)

          .sidebar-form-control
            = f.text_area :note, placeholder: Spina::Shop::Order.human_attribute_name(:note)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name(:delivery_option)

          .sidebar-form-control
            = f.select :delivery_option_id, options_for_select(Spina::Shop::DeliveryOption.all.map{|o| [o.name, o.id]}, f.object.delivery_option_id), {}, class: 'select2', style: 'width: 100%'

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name(:payment_method)

          .sidebar-form-control
            = f.text_field :payment_method

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name(:reference)

          .sidebar-form-control
            = f.text_field :reference, placeholder: Spina::Shop::Order.human_attribute_name(:reference)

      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :first_name

          .sidebar-form-control
            = f.text_field :first_name, placeholder: Spina::Shop::Order.human_attribute_name(:first_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :last_name

          .sidebar-form-control
            = f.text_field :last_name, placeholder: Spina::Shop::Order.human_attribute_name(:last_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :email

          .sidebar-form-control
            = f.text_field :email, placeholder: Spina::Shop::Order.human_attribute_name(:email)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :phone

          .sidebar-form-control
            = f.text_field :phone, placeholder: Spina::Shop::Order.human_attribute_name(:phone)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :company

          .sidebar-form-control
            = f.text_field :company, placeholder: Spina::Shop::Order.human_attribute_name(:company)

      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_street1
          .sidebar-form-control
            = f.text_field :billing_street1, placeholder: Spina::Shop::Order.human_attribute_name(:billing_street1), style: 'padding-bottom: 0px; height: 40px'
            %br/
            = f.text_field :billing_street2, placeholder: Spina::Shop::Order.human_attribute_name(:billing_street2), style: 'padding-top: 0px; padding-bottom: 0px; height: 30px'

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_house_number
          .sidebar-form-control
            = f.text_field :billing_house_number

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_house_number_addition
          .sidebar-form-control
            = f.text_field :billing_house_number_addition

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_postal_code
          .sidebar-form-control
            = f.text_field :billing_postal_code

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_city
          .sidebar-form-control
            = f.text_field :billing_city
        
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :billing_country
          .sidebar-form-control
            = f.select :billing_country_id, options_for_select(Spina::Shop::Country.order(:name).map{|c| [c.name, c.id]}, f.object.billing_country_id), {prompt: true}, class: 'select2', style: 'width: 100%'

      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :separate_delivery_address
          .sidebar-form-control
            = f.check_box :separate_delivery_address, data: {switch: true, toggle: '#delivery_address'}

      .well#delivery_address
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_name
          .sidebar-form-control
            = f.text_field :delivery_name, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_street1
          .sidebar-form-control
            = f.text_field :delivery_street1, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_street1), style: 'padding-bottom: 0px; height: 40px'
            %br/
            = f.text_field :delivery_street2, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_street2), style: 'padding-top: 0px; padding-bottom: 0px; height: 30px'

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_house_number
          .sidebar-form-control
            = f.text_field :delivery_house_number

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_house_number_addition
          .sidebar-form-control
            = f.text_field :delivery_house_number_addition

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_postal_code
          .sidebar-form-control
            = f.text_field :delivery_postal_code

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_city
          .sidebar-form-control
            = f.text_field :delivery_city

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Shop::Order.human_attribute_name :delivery_country
          .sidebar-form-control
            = f.select :delivery_country_id, options_for_select(Spina::Shop::Country.order(:name).map{|c| [c.name, c.id]}, f.object.delivery_country_id), {prompt: true}, class: 'select2', style: 'width: 100%'