<% cache order do %>
  <div class="flex items-center text-sm font-medium px-3 py-2 space-x-6 hover:bg-gray-100">
    <div class="w-24 tabular-nums">
      <%= link_to spina.shop_admin_order_path(order), class: 'flex items-center h-8 group' do %>
        <span class="mr-1 text-sm">
          <%= order.billing_country.flag %>
        </span>
        <span class="group-hover:underline font-normal"><%= order.order_number %></span>
      <% end %>
    </div>
    
    <div class="flex-1">
      <% if order.customer %>
        <%= link_to spina.shop_admin_customer_path(order.customer), class: "hover:underline block" do %>
          <%= render partial: 'spina/shop/admin/orders/custom_name', locals: {order: order} %>        
        <% end %>
      <% end %>
    </div>
    
    <div class="w-28 tabular-nums text-right font-normal">
      <%= number_to_currency order.total %>
    </div>
    
    <%= render partial: "spina/shop/admin/orders/custom_fields", locals: {order: order} %>
    
    <div class="w-24">
      <%= render Spina::Shop::Orders::ProgressComponent.new(order) %>
    </div>
    
    <div class="w-28 text-right font-medium text-xs text-gray-700">
      <%=l(order.received_at || order.confirming_at || order.created_at, format: "%e %b. %y, %H:%M") %>
    </div>
  </div>
<% end %>