%tr
  %td{style: 'width: 70px'}
    .form-checkbox{style: 'width: 20px'}
      = check_box_tag 'order_ids[]', order.id
      %label
  %td= link_to order.number, spina.shop_admin_order_path(order)
  %td.no-wrap
    = order.billing_name
    - if order.first_order_for_email?
      %label.label.label-primary{style: "padding: 4px; font-size: 10px; margin-left: 4px"} 
        =t 'spina.shop.orders.first_order_for_email'
  %td
    - if order.received_at.present?
      =l order.received_at, format: "%d %B %Y"
  %td
    - if order.shipped_at.present?
      =l order.shipped_at, format: "%d %B %Y"
  %td.nowrap.text-right
    = number_to_currency order.total
  %td{style: 'width: 200px'}
    .progress{class: "progress-bar-#{order.status_css_class}"}
      .progress-bar
        - 5.times do
          .progress-bar-divider
        .progress-bar-inner{style: "width: #{order.status_progress}%"}
      .progress-label=t "spina.shop.orders.states.#{order.current_state}"