<div class="relative" style="margin: 0 -40px 0 -40px">

  <!-- White bg header -->  
  <div class="bg-white border-b border-gray-200 p-4 md:p-6 md:pl-8 sticky top-0 z-20 relative">
    <div class="flex flex-col md:flex-row justify-between md:items-center">
      <div class="text-2xl font-normal text-gray-700 flex items-center ">
        <%= render_breadcrumbs %>
      </div>
    </div>
    
    <nav class="-mb-1 md:-mb-3 mt-4">
      <div class="inline-flex w-auto rounded-md bg-white">
        <%= link_to spina.shop_admin_orders_path, class: "block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center #{'cursor-default text-gray-900 bg-spina-dark bg-opacity-10' if action_name == "index"}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 opacity-75 -ml-1" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
          </svg>
          Alle bestellingen
        <% end %>
        
        <%= link_to spina.concepts_shop_admin_orders_path, class: "block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center #{'cursor-default text-gray-900 bg-spina-dark bg-opacity-10' if action_name == "concepts"}" do %>
          Concepten
        <% end %>
      </div>
    </nav>
    
    <div class="flex space-x-3 p-4 py-6 z-20 md:absolute top-0 right-0 md:-top-0.5 md:right-0 h-md:full w-full md:w-auto items-start md:pr-8 justify-end">
      <%= link_to 'Nieuwe bestelling', spina.new_shop_admin_order_path, class: 'btn btn-default' %>
    </div>
  </div>
  
  <div class="p-8" data-controller="filter">
    
    <% if action_name == "index" %>
      <div class="pb-3">
        <%= form_with url: spina.shop_admin_orders_path, method: :get, data: {target: "filter.form"} do |f| %>
          <%= button_tag "Filter", type: :submit, class: "hidden", data: {target: "filter.submitButton"} %>
          
          <div class="flex space-x-4">
            <div class="max-w-md w-full">
              <%= f.search_field :query, value: params[:query], placeholder: "Zoeken op klant of ordernummer...", class: "form-input font-medium block w-full h-10", style: "padding: 0 14px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, .05); border-color: #d1d5db", autocomplete: "off", data: {action: "input->filter#submit"} %>
            </div>
          </div>
          
          <div class="mt-3 mb-3 flex items-center flex-wrap">
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "Status", :status, ([:confirming, :received, :paid, :preparing, :ready_for_shipment, :shipped, :ready_for_pickup, :picked_up, :delivered, :failed, :cancelled, :refunded].map{|state| [t("spina.shop.orders.states.#{state}"), state]})) %>
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "Webshop", :store_id, Spina::Shop::Store.order(:name).pluck(:name, :id)) %>
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "Land", :billing_country_id, Spina::Shop::Country.order(:name).pluck(:name, :id)) %>
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "Korting", :discount_id, Spina::Shop::Discount.order(:code).multiple_use.active_or_recently_active.pluck(:code, :id)) %>
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "Verzending", :delivery_option_id, Spina::Shop::DeliveryOption.pluck(:name, :id)) %>
            
            <%= render Spina::Shop::UserInterface::FilterComponent.new(f, "POS", :pos, [["Winkel", true], ["Webshop", false]]) %>
            
            <div class="relative group mr-2 mb-2 max-w-xs">
              <div class="flex space-x-2">
                <%= f.text_field :received_at_gt, placeholder: "Vanaf", class: "form-input font-medium block w-full h-9", style: "padding: 0 10px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, .05); border-color: #d1d5db", data: {action: "filter#submit"} %>
                <%= f.text_field :received_at_lt, placeholder: "T/m", class: "form-input font-medium block w-full h-9", style: "padding: 0 10px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 1px 2px rgba(0, 0, 0, .05); border-color: #d1d5db", data: {action: "filter#submit"} %>
              </div>
            </div>
            
            <div class="flex-1"></div>
            
            <div class="relative group mb-2">
              <div class="btn btn-default h-9 px-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                </svg>
              </div>
              
              <div class="hidden group-hover:block absolute border border-gray-300 bg-white right-0 z-10 rounded-md top-full py-1.5 shadow-lg">
                <% [["Nieuwste eerst", "order_number DESC"], ["Oudste eerst", "order_number ASC"]].each.with_index do |order, index| %>
                  <label class="cursor-pointer block px-3 py-1.5 whitespace-nowrap mr-0 pr-6 hover:bg-gray-100">
                    <%= f.radio_button :order, order[1], class: 'border-gray-300 hover:border-gray-400 shadow-sm checked:bg-spina hover:checked:bg-spina', checked: index.zero?, data: {action: "filter#submit"} %>
                    <span class="text-sm font-medium ml-1 align-middle whitespace-nowrap"><%= order[0] %></span>
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <div class="overflow-scroll">
      <div id="totals" >
        <%= render 'totals' %>
      </div>
      
      <div class="table table-fixed w-full bg-white border border-gray-300 rounded-md divide-y divide-gray-100 infinite-list">
        <div class="table-header-group text-sm font-semibold px-3 py-2 space-x-6">
          <div class="table-row">
            <div class="table-cell w-24 p-4">Bestelling</div>
            <div class="table-cell p-4">Klant</div>
            <div class="table-cell w-36 p-4 text-right">Totaal</div>
            
            <%= render partial: "spina/shop/admin/orders/custom_headers" %>
            
            <div class="table-cell w-36 p-4"></div>
            <div class="table-cell w-20 p-4 text-right"></div>
            <div class="table-cell w-12 p-4 text-right"></div>
          </div>
        </div>
          
        <div class="table-row-group records" data-target="filter.records">
          <%= render collection: @orders, partial: 'spina/shop/admin/orders/order' %>
        </div>
        
        <div class="pagination text-center">
          <%= link_to_next_page @orders, "Volgende", class: 'hidden', data: {remote: true} %>
        </div>
      </div>
    </div>
  </div>

</div>
