<div class="relative" style="margin: 0 -40px 0 -40px">

  <!-- White bg header -->  
  <div class="bg-white border-b border-gray-200 p-4 md:p-6 md:pl-8 sticky top-0 z-20 relative">
    <div class="flex flex-col md:flex-row justify-between md:items-center">
      <div class="text-2xl font-normal text-gray-700 flex items-center">
        <%= render_breadcrumbs separator: heroicon('chevron-right', style: :solid, class: "w-5 h-5 mx-2 text-gray-300") %>
      </div>
    </div>
  </div>
  
  <div class="px-12">
    <div class="wizard-steps">
      <% @order.transitions_done.each do |transition| %>
        <div class="wizard-step done">
          <div class="wizard-step-circle">
            <div class="wizard-step-label text-center">
              <div class="whitespace-nowrap text-gray-700">
                <%=t "spina.shop.orders.states.#{transition.to_state}" %>
              </div>
              <div class="text-xs -mt-0.5">
                <%= transition.metadata["user"]&.split(" ")&.first %>
              </div>
              <div class="text-xs font-normal whitespace-nowrap">
                <%=l transition.created_at, format: "%e %b. %H:%M" %>
              </div>
            </div>
          </div>
          <div class="wizard-step-connector"></div>
        </div>
      <% end %>
      <% @order.admin_transitions_ended.each do |transition| %>
        <div class="wizard-step error">
          <div class="wizard-step-circle">
            <div class="wizard-step-label">
              <div class="whitespace-nowrap">
                <%=t "spina.shop.orders.states.#{transition}" %>
              </div>
            </div>
          </div>
          <div class="wizard-step-connector"></div>
        </div>
      <% end %>
      <% @order.admin_next_transitions.each do |transition| %>
        <div class="wizard-step">
          <div class="wizard-step-circle">
            <i class="icon icon-<%=t('spina.shop.orders.state_icons.' + transition)%>"></i>
            <div class="wizard-step-label">
              <div class="whitespace-nowrap">
                <%=t "spina.shop.orders.states.#{transition}" %>
              </div>
            </div>
          </div>
          <div class="wizard-step-connector"></div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="p-8">
    <div class="flex gap-x-4">
      <div class="flex-1">        
        <%= link_to spina.shop_admin_customer_path(@order.customer), class: "bg-white rounded-lg shadow-sm border border-gray-300 px-4 py-3 max-w-sm shadow-sm inline-block" do %>
          <div class="font-medium">
            <%= @order.full_name %>
          </div>
          <div class="text-sm">
            <div class="text-gray-500">
              <% if @order.customer.customer_account %>
                Geregistreerd sinds <%=l @order.customer.customer_account.created_at, format: "%d-%m-%Y" %>
              <% else %>
                <span class="">Gast</span>
              <% end %>
            </div>
            
            <%= @order.email %>
            
            <%= @order.customer.orders.paid.count %> orders
          </div>
        <% end %>
        
        <div class="">
          <% if @order.separate_delivery_address? %>
            <%= @order.billing_address %>
            <br />
            <%= @order.billing_postal_code %>, <%= @order.billing_city %> (<%= @order.billing_country&.code %>)
          <% end %>
          
          <%= @order.payment_method %>
          <br />
          <%=l @order.paid_at, format: :short %>
          <br />
          
          <% @order.invoices.each do |invoice| %>
            <%= link_to invoice.invoice_name, '#', class: 'btn btn-default inline-flex' %>
          <% end %>
        </div>
        
        <div class="bg-yellow-50 p-3 text-sm shadow-md mt-6 max-w-md relative">
          <%= link_to '#', class: "btn btn-default float-right px-2 text-xs h-8" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-1">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
              <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
            </svg>
            Bewerk notitie
          <% end %>
          
          <div class="whitespace-pre-wrap p-2"><%= @order.note %></div>
        </div>
      </div>
      
      <div class="">        
        <div class="bg-white rounded-lg max-w-xs shadow-sm">
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{(@order.delivery_address + ', ' + @order.delivery_city).gsub(' ', '+')}&zoom=8&scale=2&size=360x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x6865b4%7Clabel:1%7C#{ (@order.delivery_address + ', ' + @order.delivery_city).gsub(' ', '+')}&key=", class: "rounded-t-lg w-full" %>
        
          <div class="text-sm -mt-4 bg-white text-gray-700 relative rounded-b-lg leading-normal px-4 py-3 border-b border-l border-r border-gray-300 ">
            <div class="font-semibold text-base">
              <%= @order.delivery_option&.name %>
            </div>
            <div class="font-semibold"><%= @order.delivery_name %></div>
            <%= @order.delivery_address %>
            <br /><%= @order.delivery_postal_code %>, <%= @order.delivery_city %> (<%= @order.delivery_country&.code %>)
          </div>
        </div>
      </div>      
    </div>
  </div>
  
  <div class="p-8">
    <div class="flex items-center pb-3">
      <div class="w-16"></div>
      <div class="flex-1 font-medium pl-2">
        Omschrijving
      </div>
      <div class="w-28 font-medium text-right">
        Bedrag
      </div>
      <div class="w-28 font-medium text-right">
        Totaal
      </div>
      <div class="w-14 font-medium text-right pr-3"></div>
    </div>
    <div class="divide-y divide-gray-100 border border-gray-300 rounded-md bg-white overflow-hidden">
      <% @order.order_items.ordered.each do |order_item| %>
        <%= link_to [spina, :shop, :admin, order_item.orderable], class: "flex items-center w-full hover:bg-spina-dark hover:bg-opacity-5" do %>
          <div class="w-16 align-middle font-medium text-gray-700 self-stretch flex items-center justify-end">
            <%= order_item.quantity %> &times;
          </div>
          <div class="py-1 pl-1">
            <% if order_item.orderable.default_image %>
              <div class="w-10 h-10 flex items-center justify-center p-1">
                <%= image_tag main_app.url_for(order_item.orderable.default_image.file.variant(resize: "60x60")), class: "max-w-full max-h-full" %>
              </div>
            <% else %>
              <div class="w-10 h-10 flex items-center justify-center p-1 text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
              </div>
            <% end %>
          </div>
          <div class="flex-1 text-sm">
            <%= order_item.description %>
          </div>
          <div class="w-28 text-sm text-right">
            <%= number_to_currency order_item.unit_price %>
          </div>
          <div class="w-28 text-sm text-right">
            <% if order_item.discount_amount > 0 %>
              <div class="text-gray-500 text-xs line-through">
                <%= number_to_currency order_item.total_without_discount %>
              </div>
            <% end %>
            <%= number_to_currency order_item.total %>
          </div>
          <div class="w-14 text-sm text-gray-400 text-right pr-3">
            <% if order_item.tax_rate > 0 %>
              <%= number_with_precision order_item.tax_rate, precision: 0 %>%
            <% end %>
          </div>
        <% end %>
      <% end %>
      
      <div class="flex items-center w-full text-sm leading-loose bg-spina-dark bg-opacity-5">
        <div class="text-right flex-1">
          <% if @order.discount %>
            <div class="font-semibold text-green-500">
              <%= @order.discount.code %>
            </div>
          <% end %>
          <% if @order.delivery_price != 0 %>
            <div class="">Verzendkosten</div>
          <% end %>
          <div class="font-semibold">Totaal excl. btw</div>
          <% @order.tax_amount_by_rates.reverse_each do |rate, tax| %>
            <div class="">
              <% if rate > 0 %>
                <%= number_with_precision rate, precision: 0 %>% btw 
              <% else %>
                Geen btw
              <% end %>
              over <%= number_to_currency tax[:total] %>
            </div>
          <% end %>
          <div class="font-semibold text-base mt-0.5">Totaal</div>
        </div>
        <div class="w-28 text-right py-4">
          <% if @order.discount %>
            <div class="font-normal">
              %
            </div>
          <% end %>
          
          <% if @order.delivery_price != 0 %>
            <div class="">
              <%= number_to_currency @order.delivery_price %>
            </div>
          <% end %>
          
          <div class="font-semibold">
            <%= number_to_currency @order.total_excluding_tax %>
          </div>
          
          <% @order.tax_amount_by_rates.reverse_each do |rate, tax| %>
            <div class="">
              <%= number_to_currency tax[:tax_amount] %>
            </div>
          <% end %>
          
          <div class="font-semibold text-base mt-0.5">
            <%= number_to_currency @order.total %>
          </div>
        </div>
        <div class="w-14"></div>
      </div>
    </div>
  </div>
</div>