= form_for [:admin, @customer] do |f|
  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        Klant opslaan

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::Customer.human_attribute_name :first_name

          .sidebar-form-control
            = f.text_field :first_name, placeholder: Spina::Customer.human_attribute_name(:first_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Customer.human_attribute_name :last_name

          .sidebar-form-control
            = f.text_field :last_name, placeholder: Spina::Customer.human_attribute_name(:last_name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Customer.human_attribute_name :email

          .sidebar-form-control
            = f.text_field :email, placeholder: Spina::Customer.human_attribute_name(:email)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::Customer.human_attribute_name :phone

          .sidebar-form-control
            = f.text_field :phone, placeholder: Spina::Customer.human_attribute_name(:phone)

      = f.fields_for :addresses do |address_builder|
        .well
          .sidebar-form-group
            .sidebar-form-label
              = Spina::Address.human_attribute_name :address
            .sidebar-form-control
              = address_builder.text_field :address_1, placeholder: Spina::Address.human_attribute_name(:address_1), style: 'padding-bottom: 0px; height: 40px'
              %br/
              = address_builder.text_field :address_2, placeholder: Spina::Address.human_attribute_name(:address_2), style: 'padding-top: 0px; padding-bottom: 0px; height: 30px'
              %br/
              = address_builder.text_field :address_3, placeholder: Spina::Address.human_attribute_name(:address_3), style: 'padding-top: 0px; padding-bottom: 0px; height: 30px'
              %br/
              = address_builder.text_field :address_4, placeholder: Spina::Address.human_attribute_name(:address_4), style: 'padding-top: 0px; height: 40px'

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Address.human_attribute_name :postal_code
            .sidebar-form-control
              = address_builder.text_field :postal_code

          .sidebar-form-group
            .sidebar-form-label
              = Spina::Address.human_attribute_name :city
            .sidebar-form-control
              = address_builder.text_field :city

          
          .sidebar-form-group
            .sidebar-form-label
              Verwijderen?
            .sidebar-form-control
              %div{style: 'margin: 12px 10px'}
                = address_builder.check_box :_destroy, data: {switch: true}