= form_for [:admin, :settings, @product_category] do |f|
  %header#header
    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        =t 'spina.save'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategory.human_attribute_name :name

          .sidebar-form-control
            = f.text_field :name, placeholder: Spina::ProductCategory.human_attribute_name(:name)
