.sidebar-form-group
  .sidebar-form-label
    = property.label

  .sidebar-form-control{data: {form: {append: property.append, prepend: property.prepend}}}
    - case property.field_type
    - when 'select'
      = f.select property.name, options_for_select(property.property_options.map{|option| [option.label, option.name]}, (object.properties[property.name] if object.properties.present?)), {include_blank: ('–' unless property.multiple), include_hidden: false}, class: 'select2', multiple: property.multiple, style: 'width: 100%'
    - when 'product'
      = f.select property.name, [], {}, class: 'select-products', multiple: property.multiple, style: 'width: 100%'
    - when 'textarea'
      %trix-toolbar.clearfix{ id: "#{property.name}_toolbar", data: { trix_editor_id: "#{property.name}_editor" }}
        .button-groups
          .button-group
            %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bold', data: { trix_attribute: 'bold', trix_key: 'b' }}
              .icon.icon-bold
            %button.button.button-small{ type: 'button', tabindex: -1, title: 'Italic', data: { trix_attribute: 'italic', trix_key: 'i' }}
              .icon.icon-italic
            %button.button.button-small{ type: 'button', tabindex: -1, title: 'Bullets', data: { trix_attribute: 'bullet' }}
              .icon.icon-list-ul
        %trix-editor.text-input{input: property.name, toolbar: "#{property.name}_toolbar", id: "#{property.name}_editor", placeholder: property.label}
        = f.hidden_field property.name, id: property.name, value: object.properties.try(property.name)
    - when 'image'
      - image = Spina::Photo.find_by(id: object.properties.try(property.name))
      = link_to spina.photo_select_admin_photos_path(property.name, selected_photo_id: object.properties.try(property.name), hidden_field_id: "#{property.name}_image_id"), remote: true, class: 'media_picker clearfix' do
        .placeholder
          %span.button.button-small.button-round
            %i.icon.icon-dots
            =t 'spina.pages.photo_picker'

        - if image.present?
          .image= image_tag image.file.thumb

        = f.hidden_field property.name, value: object.properties.try(property.name), data: {hidden_field_id: "#{property.name}_image_id"}

    - else
      = f.text_field property.name, placeholder: property.label, value: (object.properties[property.name] if object.properties.present?)