.container
  .pull-right
    = link_to spina.search_shop_stock_management_products_path, class: 'button button-link icon-only' do
      🔍

  - regex = @product.location.match(/\A(\d*)([a-zA-Z]*).*\z/)
  - primary_location = regex.try(:[], 1).presence || regex.try(:[], 2).presence
  = link_to "⇤ Locatie #{primary_location}", spina.shop_stock_management_location_path(primary_location), class: 'button button-link', style: 'margin-bottom: 10px'

  .page-title
    - if @product.product_images.any? || @product.root.product_images.any?
      .page-title-image
        = image_tag main_app.url_for((@product.product_images.first || @product.root.product_images.first).file.variant(resize: '60x120')), style: 'margin: 0 auto; display: block'

    %div
      %small
        Locatie:
        %strong= @product.location
      = @product.full_name

  - if @product.stock_enabled?
    = form_with model: @product, url: spina.shop_stock_management_product_recount_path(@product), method: :post do |f|

      %div{style: "margin-left: 60px; margin-bottom: 30px"}
        %label Huidige voorraad:
        %strong= @product.stock_level

      = button_tag "✏️ Voorraad aanpassen", type: :button, class: 'button button-block', id: "edit_stock"
      %div{style: "display: none"}
        #stock_expiration_fields= render partial: "stock_expiration_fields"
            
        - if @product.can_expire?
          = link_to  "➕ Extra verloopdatum", spina.new_shop_stock_management_product_recount_path, class: 'button button-block', data: {remote: true}
              
      %div{style: "clear: both"}
      = button_tag type: :submit, class: 'button button-primary button-block', style: 'margin-top: 40px', data: {disable_with: "Opslaan..."} do
        💾 Opslaan en volgende

  .button-group
    - if @previous_product.present?
      = link_to spina.new_shop_stock_management_product_recount_path(@previous_product), class: 'button' do
        ◀︎ Vorige

    - if @next_product.present?
      = link_to spina.new_shop_stock_management_product_recount_path(@next_product), class: 'button' do
        Volgende ▶︎

  - unless @reserved.zero?
    .text-center.text-muted{style: 'margin-top: 20px'}
      Vul het <strong>totaal in het schap</strong> in. De gereserveerde voorraad (#{@reserved}) wordt automatisch verrekend.

  - if @last_recount.present?
    .text-center.text-muted{style: 'margin-top: 20px'}
      👌 Laatst geteld door #{@last_recount.actor} (#{@last_recount.difference > 0 ? '+' : ''}#{@last_recount.difference})
      %br/
      %small=l @last_recount.created_at, format: '%e %B %Y - %H:%M'