= form_for @property, url: @property.new_record? ? admin_product_category_properties_path(@product_category) : admin_product_category_property_path(@product_category, @property) do |f|
  
  = f.hidden_field :product_category_id

  %header#header
    #header_actions
      = button_tag type: :submit, class: 'button button-primary' do
        = icon('check')
        Opslaan

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  .sidebar-form
    .sidebar-form-content
      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :name

          .sidebar-form-control
            = f.text_field :name, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:name)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :label

          .sidebar-form-control
            = f.text_field :label, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:label)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :property_type

          .sidebar-form-control
            = f.select :property_type, options_for_select([['Vast', 'product'], ['Variabel', 'item']], f.object.property_type), {}, style: 'width: 100%'

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :field_type

          .sidebar-form-control
            = f.select :field_type, options_for_select([['Tekstregel', 'textfield'], ['Getal', 'number'], ['Kommagetal', 'decimal'], ['Percentage', 'percentage'], ['Opties', 'select']], f.object.field_type), {}, style: 'width: 100%'

      .well
        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :options

          .sidebar-form-control
            = f.text_field :options, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:options), value: @property.options.try(:join, ',')


        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :minimum

          .sidebar-form-control
            = f.text_field :minimum, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:minimum)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :maximum

          .sidebar-form-control
            = f.text_field :maximum, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:maximum)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :max_characters

          .sidebar-form-control
            = f.text_field :max_characters, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:max_characters)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :multiple

          .sidebar-form-control
            %div{style: 'margin: 12px 10px'}
              = f.check_box :multiple, data: {switch: true}

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :append

          .sidebar-form-control
            = f.text_field :append, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:append)

        .sidebar-form-group
          .sidebar-form-label
            = Spina::ProductCategoryProperty.human_attribute_name :prepend

          .sidebar-form-control
            = f.text_field :prepend, placeholder: Spina::ProductCategoryProperty.human_attribute_name(:prepend)
  
  - unless @property.new_record?
    .pull-right
      = link_to 'Verwijderen', admin_product_category_property_path(@product_category, @property), data: {method: :delete, confirm: "Weet je het zeker?"}, class: 'button button-danger button-link'