.modal.modal-old-style
  %header
    = link_to '#', data: {dismiss: "modal"} do
      = icon('cross')
    %h3=t 'spina.shop.tax_groups.new'

  = form_for @tax_group, url: spina.shop_admin_settings_tax_groups_path do |f|
    %section
      = f.text_field :name, placeholder: Spina::Shop::TaxGroup.human_attribute_name(:name)

      = f.fields_for :tax_rates do |tax_rate_fields|
        = tax_rate_fields.number_field :rate, placeholder: Spina::Shop::TaxRate.human_attribute_name(:rate)
        = tax_rate_fields.text_field :code, placeholder: Spina::Shop::TaxRate.human_attribute_name(:code)
  
    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.save'