%tr
  %td= link_to "##{active_stock_order.id}", spina.shop_admin_stock_order_path(active_stock_order), class: 'table-link'
  %td
    = link_to active_stock_order.supplier.name, spina.shop_admin_supplier_path(active_stock_order.supplier), class: 'table-link'
  %td
    - if active_stock_order.ordered_at.present?
      =l active_stock_order.ordered_at, format: "%e %B %Y"
  %td
    - if active_stock_order.expected_delivery.present?
      =l active_stock_order.expected_delivery, format: :long
    - elsif active_stock_order.supplier.lead_time.present? && active_stock_order.ordered_at.present?
      .text-muted
        over
        = time_ago_in_words(active_stock_order.ordered_at + active_stock_order.supplier.lead_time.days)
       
  %td
    = active_stock_order.ordered_stock.count
    producten
  %td.text-right
    = number_to_currency active_stock_order.order_value
  %td.text-right
    - if active_stock_order.ordered?
      .status-dot{class: ("status-dot-#{active_stock_order.status_label}"), data: {tooltip: t("spina.shop.stock_orders.status.#{active_stock_order.status}")}}
  %td.text-right
    - if active_stock_order.feedback.present?
      %i.icon.icon-pencil