%tr
  %td
    = link_to spina.shop_admin_stock_order_path(stock_order), class: 'table-link' do
      = "##{stock_order.id}"
      - if stock_order.feedback.present?
        %i.icon.icon-pencil
  %td
    = link_to stock_order.supplier.name, spina.shop_admin_supplier_path(stock_order.supplier), class: 'table-link'
    %small= stock_order.reference
  %td
    - if stock_order.ordered_at.present?
      =l stock_order.ordered_at, format: "%d-%m-%Y"
  %td=l stock_order.closed_at, format: "%d-%m-%Y"
  %td{style: "width: 150px"}
    .progress.progress-bar-primary
      .progress-bar
        - 5.times do
          .progress-bar-divider
        .progress-bar-inner{style: "width: #{stock_order.received_percentage}"}
      .progress-label
        = stock_order.received_percentage
        \/
        = stock_order.ordered_stock.sum(:quantity)
  %td.text-right= number_to_currency stock_order.order_value
