%tr
  %td= link_to "##{stock_order.id}", spina.shop_admin_stock_order_path(stock_order), class: 'table-link'
  %td= stock_order.supplier.name
  %td=l stock_order.ordered_at, format: "%e %B %Y"
  %td=l stock_order.closed_at, format: "%e %B %Y"
  %td
    = stock_order.ordered_stock.count
    producten
  %td= number_to_currency stock_order.order_value
  %td.text-right
    - if stock_order.feedback.present?
      %i.icon.icon-pencil