- content_for(:breadcrumb_action) do
  = link_to spina.new_shop_admin_stock_order_path, class: 'button button-mini icon-only', data: {remote: true} do
    %i.icon.icon-plus{style: 'vertical-align: bottom'}

.table-container
  %table.table
    %thead
      %tr
        %th= Spina::Shop::StockOrder.human_attribute_name :id
        %th= Spina::Shop::StockOrder.human_attribute_name :supplier
        %th= Spina::Shop::StockOrder.human_attribute_name :ordered_at
        %th= Spina::Shop::StockOrder.human_attribute_name :expected_delivery
        %th= Spina::Shop::StockOrder.human_attribute_name :ordered_stock
        %th.text-right= Spina::Shop::StockOrder.human_attribute_name :order_value
        %th{colspan: 2}

    %tbody
      = render partial: "active_stock_order", collection: @stock_orders

%h3{style: 'margin-top: 60px'} Gesloten leveringen

.table-container.infinite-table
  %table.table.table-clickable
    %thead
      %tr
        %th= Spina::Shop::StockOrder.human_attribute_name :id
        %th= Spina::Shop::StockOrder.human_attribute_name :supplier
        %th= Spina::Shop::StockOrder.human_attribute_name :ordered_at
        %th= Spina::Shop::StockOrder.human_attribute_name :closed_at
        %th= Spina::Shop::StockOrder.human_attribute_name :ordered_stock
        %th= Spina::Shop::StockOrder.human_attribute_name :order_value
        %th

    %tbody
      = render partial: 'stock_order', collection: @closed_stock_orders
