- content_for :application do
  %header#header
    = render partial: 'spina/admin/shared/breadcrumbs'

    %nav#secondary.tabs
      %ul
        %li{class: ('active' if controller_name == 'product_categories')}
          = link_to Spina::Shop::ProductCategory.model_name.human(count: 2), spina.shop_admin_settings_product_categories_path
        %li{class: ('active' if controller_name == 'shared_properties')}
          = link_to Spina::Shop::SharedProperty.model_name.human(count: 2), spina.shop_admin_settings_shared_properties_path
        %li{class: ('active' if controller_name == 'tax_groups')}
          = link_to Spina::Shop::TaxGroup.model_name.human(count: 2), spina.shop_admin_settings_tax_groups_path
        %li{class: ('active' if controller_name == 'sales_categories')}
          = link_to Spina::Shop::SalesCategory.model_name.human(count: 2), spina.shop_admin_settings_sales_categories_path
        %li{class: ('active' if controller_name == 'tags')}
          = link_to Spina::Shop::Tag.model_name.human(count: 2), spina.shop_admin_settings_tags_path

  = yield

= render template: 'layouts/spina/admin/admin'
