.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :active
  
  .form-control
    = f.check_box :active, data: {switch: true}

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :price
  
  .form-control{data: {form_prepend: '€'}}
    .input-group
      = f.text_field :price, value: number_with_precision(f.object.price)
      .select-dropdown{style: "min-width: 120px"}
        = f.select :tax_group_id, options_for_select(Spina::TaxGroup.all.map{|t| [t.name, t.id]}, f.object.tax_group_id)

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :cost_price
  
  .form-control{data: {form_prepend: '€'}}
    = f.text_field :cost_price, value: number_with_precision(f.object.cost_price)

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :sales_category

  .form-control
    .select-dropdown{style: 'width: 100%'}
      = f.select :sales_category_id, options_for_select(Spina::SalesCategory.all.map{|c| [c.name, c.id]}, f.object.sales_category_id)

.form-group
  .form-label
    .pull-right.text-muted{style: 'font-weight: 400'}=l(f.object.expiration_date, format: '%B \'%y') if f.object.expiration_date
    = Spina::ProductItem.human_attribute_name :can_expire

  .form-control
    = f.check_box :can_expire, data: {switch: true}

- unless f.object.new_record?
  .form-group
    .form-label
      %small= link_to t('spina.shop.product_items.stock_history'), admin_product_product_item_stock_level_adjustments_path(@product, f.object), class: 'text-muted pull-right', data: {remote: true}
      = Spina::ProductItem.human_attribute_name :stock_level

    .form-control
      .pull-right{style: 'position: absolute; right: 10px;top: 11px; font-size: 14px'}
        = link_to t('spina.shop.product_items.adjust_stock'), new_admin_product_product_item_stock_level_adjustment_path(@product, f.object), data: {remote: true}
      = text_field_tag :stock_level, f.object.stock_level, disabled: true

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :location
  
  .form-control
    = f.text_field :location, placeholder: Spina::ProductItem.human_attribute_name(:location)

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :weight
  
  .form-control{data: {form_append: 'gr'}}
    = f.text_field :weight, value: number_with_precision(f.object.weight, precision: 3, strip_insignificant_zeros: true)

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :ean

  .form-control
    = f.text_field :ean, placeholder: Spina::ProductItem.human_attribute_name(:ean)

.form-group
  .form-label
    = Spina::ProductItem.human_attribute_name :supplier_reference

  .form-control
    = f.text_field :supplier_reference, placeholder: Spina::ProductItem.human_attribute_name(:supplier_reference)