= form_for [:admin, @product, @product_item] do |f|
  %header#header
    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

    = render 'spina/admin/shared/locale_switcher' unless @product_item.new_record?

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        =t 'spina.shop.product_items.save'

  - Globalize.with_locale(@locale) do
    .sidebar-form
      .sidebar-form-content
        .well
          .sidebar-form-group
            .sidebar-form-label
              = Spina::ProductItem.human_attribute_name :name

            .sidebar-form-control
              = f.text_field :name, placeholder: Spina::ProductItem.human_attribute_name(:name)

          .sidebar-form-group
            .sidebar-form-label
              = Spina::ProductItem.human_attribute_name :sku

            .sidebar-form-control
              = f.text_field :sku, placeholder: Spina::ProductItem.human_attribute_name(:sku)

        = render partial: 'properties_form', locals: {f: f}

      .sidebar-form-sidebar
        = render partial: 'details_form', locals: {f: f}
