- afgelopen_30_days = product.stock_level_adjustments.sales.where('spina_shop_stock_level_adjustments.created_at > ?', 30.days.ago).sum(:adjustment) * -1
%tr
  %td.align-center{style: 'width: 30px'}
    = image_tag attachment_url(product.product_images.first, :file, :fit, 30, 30, fallback: ''), style: 'vertical-align: middle; margin: -10px 0'
  %td
    = link_to product.name, spina.shop_admin_product_path(product)
  %td= product.supplier
  %td.text-right
    - if product.stock_level < 4
      .text-danger= product.stock_level
    - else
      .text-success= product.stock_level
  %td.text-right
    = afgelopen_30_days
  %td.text-right
    = product.coming_30_days
  %td.text-right
    - if product.restock_date <= Date.today
      Vandaag
    - else
      over
      - if product.restock_date == Date.tomorrow
        1 dag
      - else
        = time_ago_in_words(product.restock_date)
  %td.align-right
    - if product.active?
      - if !product.archived?
        - if product.stock_enabled?
          - if product.in_stock?
            - if product.can_expire? && product.expiration_date.present? && product.expiration_date < 2.months.from_now
              - if product.expiration_date < Date.today
                .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.expired')}}
              - else
                .status-dot.status-dot-warning{data: {tooltip: t('spina.shop.products.almost_expired')}}
            - else
              - if product.stock_level > 4
                .status-dot.status-dot-success
              - else
                .status-dot.status-dot-warning{data: {tooltip: "Voorraad laag"}}
          - else
            .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.out_of_stock')}}
        - else
          .status-dot.status-dot-success
      - else
        .status-dot
    - else
      .status-dot
      