%tr
  %td.align-center{style: 'width: 20px'}
    .form-checkbox{style: 'width: 20px'}
      = check_box_tag ''
      %label
  %td
    = link_to spina.shop_admin_product_path(product) do
      = product.name
  %td
    = product.supplier
  %td.text-right
    = product.past_30_days
  %td.text-right
    = product.past_90_days
  %td.text-right
    - if product.stock_level < 4
      %span.text-danger= product.stock_level
    - else
      %span.text-success= product.stock_level
    %small{style: 'display: inline'} / #{product.optimal_stock}
  %td.text-right
    = product.coming_30_days
  %td.text-right
    - if product.to_order < 0
      %span.text-danger= product.to_order
    - elsif product.to_order == 0
      %span.text-success 0
    - else
      %span.text-success= "+#{product.to_order}"
  %td.text-right.text-muted
    = product.in_stock_reminders_count
    %i.icon.icon-mail{style: 'font-size: 11px'}
  %td.text-right
    %small= number_to_currency product.cost_price
  %td.text-right
    %small= number_to_currency product.stock_value
