%tr
  %td.align-center{style: 'width: 20px'}
    .form-checkbox{style: 'width: 20px'}
      = check_box_tag ''
      %label
  %td
    = link_to spina.shop_admin_product_path(product) do
      = product.name
  %td
    = product.supplier
  %td.text-right
    = product.past_90_days
  %td.text-right
    = product.past_30_days
  %td.text-right
    - if product.stock_level < 4
      %span.text-danger= product.stock_level
    - else
      %span.text-success= product.stock_level
    %small{style: 'display: inline'} / #{product.optimal_stock}
  %td.text-right
    = product.coming_30_days
  %td.text-right
    - if product.to_order < 0
      %span.text-danger= product.to_order
    - elsif product.to_order == 0
      %span.text-success 0
    - else
      %span.text-success= "+#{product.to_order}"
  %td.text-right
    - if product.restock_date <= Date.today
      Vandaag
    - else
      over
      - if product.restock_date == Date.tomorrow
        1 dag
      - else
        = time_ago_in_words(product.restock_date)

  %td.align-right
    - if product.active?
      - if !product.archived?
        - if product.stock_enabled?
          - if product.in_stock?
            - if product.can_expire? && product.expiration_date.present? && product.expiration_date < 2.months.from_now
              - if product.expiration_date < Date.today
                .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.expired')}}
              - else
                .status-dot.status-dot-warning{data: {tooltip: t('spina.shop.products.almost_expired')}}
            - else
              - if product.stock_level > 4
                .status-dot.status-dot-success
              - else
                .status-dot.status-dot-warning{data: {tooltip: "Voorraad laag"}}
          - else
            .status-dot.status-dot-danger{data: {tooltip: t('spina.shop.products.out_of_stock')}}
        - else
          .status-dot.status-dot-success
      - else
        .status-dot
    - else
      .status-dot
      