%header#header
  .breadcrumbs
    = render_breadcrumbs separator: '<div class="divider"></div>'

  %nav#secondary
    %ul
      %li{class: ("active" if action_name == "index")}
        = link_to spina.shop_admin_products_path do
          =t 'spina.shop.products.title'

      %li{class: ("active" if action_name == "archived")}
        = link_to spina.archived_shop_admin_products_path do
          =t 'spina.shop.products.archived_title'

      %li
        = link_to spina.shop_admin_product_bundles_path do
          = Spina::Shop::ProductBundle.model_name.human count: 2

      %li.active
        = link_to spina.shop_admin_stock_forecast_path do
          Voorraad

.table-container.infinite-table
  %table.table.table-clickable
    %thead
      %tr
        %th{style: 'width: 20px'}
          .form-checkbox{style: 'width: 20px'}
            = check_box_tag ''
            %label
        %th Naam
        %th.text-right{style: 'white-space: nowrap; min-width: 60px'} 
          = link_to spina.shop_admin_stock_forecast_path(order: 'past_90_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc') do
            Verkoop<br /><small>90 dagen</small>
        %th.text-right{style: 'white-space: nowrap; min-width: 60px'} 
          = link_to spina.shop_admin_stock_forecast_path(order: 'past_30_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc') do
            Verkoop<br /><small>30 dagen</small>
        %th.text-right{style: 'min-width: 130px; white-space: nowrap'}
          = link_to spina.shop_admin_stock_forecast_path(order: 'stock_level', direction: params[:direction] == 'asc' ? 'desc' : 'asc') do
            Voorraad<br/><small>actueel / optimaal</small>
        %th.text-right{style: 'white-space: nowrap; min-width: 100px'} 
          = link_to spina.shop_admin_stock_forecast_path(order: 'coming_30_days', direction: params[:direction] == 'asc' ? 'desc' : 'asc') do
            Voorspelling<br /><small>30 dagen</small>
        %th.text-right{style: 'min-width: 130px'}
          = link_to spina.shop_admin_stock_forecast_path(order: 'restock_date', direction: params[:direction] == 'asc' ? 'desc' : 'asc') do
            Inkoop<br /><small>minimale voorraad</small>
        / %th.text-right
        / %th.text-right
        %th

    %tbody
      = render partial: "product", collection: @products

  .pagination= link_to_next_page @products, 'Next'
