.modal.modal-medium
  = form_with url: spina.shop_admin_stock_order_products_path do |f|
    %header
      = link_to '#', data: {dismiss: "modal"} do
        = icon('cross')
      %h3
        =t 'spina.shop.stock_order_products.new_html'
        .select-dropdown
          = f.select :stock_order_id, options_for_select(@stock_orders.map{|c| ["##{c.id} (#{c.supplier.name})", c.id]}), include_blank: t('spina.shop.stock_order_products.choose_stock_order')
  
    %section{style: 'padding: 0'}
      %table.table{style: 'margin: 0'}
        %tr
          %th
          %th Product
          %th.nowrap Huidige voorraad
          %th Aantal

        - @products.each do |product|
          = f.hidden_field "products[][id]", value: product.id
          %tr
            %td
              - if product.root.product_images.any?
                = image_tag main_app.url_for(product.root.product_images.first.file.variant(resize: '60x60')), width: 30
            %td
              = product.name
              %small= product.variant_name
            %td= product.stock_level
            %td= f.number_field "products[][quantity]", placeholder: "Aantal", value: (product.stock_difference < 0 ? product.stock_difference * -1 : 0)
    
    %footer
      = link_to t('spina.cancel'), '#', data: {dismiss: 'modal'}
      = button_tag type: :submit, class: 'primary' do
        %i.icon.icon-plus{style: 'margin-right: 4px'}
        =t 'spina.shop.stock_order_products.create'