%div{style: "height: 26px", data: {dropdown: true}}
  = link_to '#', class: 'button button-link button-small', style: "padding-top: 0; padding-bottom: 0", data: {trigger: 'dropdown', target: '#locales'} do
    = icon('comment')
    = @locale.upcase

  %ul#locales
    - Spina.config.locales.each do |locale|
      %li
        = link_to t("languages.#{locale}"), "?locale=#{locale}", style: ('font-weight: 600' if @locale.to_s == locale.to_s)
