%div{style: "height: 26px", data: {dropdown: true}}
  = link_to '#', class: 'button button-link button-small', style: "padding-top: 0; padding-bottom: 0", data: {trigger: 'dropdown', target: '#locales'} do
    = icon('comment')
    = t("languages.#{@locale}")

  %ul#locales{style: "width: 250px"}
    - Spina.config.locales.each_with_index do |locale, index|
      %li
        = link_to "?locale=#{locale}", style: ("#{'font-weight: 600;' if @locale.to_s == locale.to_s}") do
          - if (@product || @product_bundle).send("name_#{locale}").present? && (@product || @product_bundle).send("description_#{locale}").present?
            %span.status-dot.status-dot-small{style: "margin-right: 4px; background: #333"}
            = t("languages.#{locale}")
          - else
            %span.status-dot.status-dot-small{style: "margin-right: 4px"}
            = t("languages.#{locale}")